In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_excel("ClincolabratoryAll_Labeled_Cleaned_Anonynimized.xlsx")

In [3]:
head =df.head()
head

,Patient_Number,Patient_Phase,Patient_Hospital,Patient_AdmitDate,Patient_DischargeDate,Patient_C19Variant,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS,...,LAB_TotalProtein_First,LAB_TSH_First,LAB_T4_First,LAB_T3_First,LAB_VitD3_First,LAB_Zinc_y_First,LAB_IgM_First,LAB_IgG_First,LAB_SARSCOV2Egene_First,LAB_SARSCOV2RDRP_First
0,Unique id of patient,Patients were included in phase 1 or phase 2 o...,ID of hospital were patient is included (Hospi...,Date of admission (days),Date of discharge (days),Defined for patietns admited during peaks of O...,Patient outcome (Died/Survived/Unknown),Lentgh of Stay (days),"ICU Admission, even one day ( 0/1)",ICU LOS (days),...,TotalProtein,TSH,T4,T3,VitD3,Zinc_y,IgM,IgG,SARSCOV2Egene,SARSCOV2RDRP
1,1,Phase 2,Hospital1,1400/05/21,NaN,Delta,Died,30,1,25,...,NaN,NaN,NaN,NaN,11.2,NaN,NaN,NaN,Positive,Positive CT:28.5
2,2,Phase 2,Hospital1,1400/05/29,NaN,Delta,Died,19,1,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,Positive CT:18.0
3,3,Phase 2,Hospital1,1400/06/17,NaN,Delta,Died,12,1,11,...,NaN,NaN,NaN,NaN,39.9,NaN,NaN,NaN,NaN,NaN
4,4,Phase 2,Hospital1,1400/02/04,NaN,NaN,Survived,18,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,Positive CT:20.9

In [4]:
df.shape

(9135, 330)

In [8]:
df.columns

Index(['Patient_Number', 'Patient_Phase', 'Patient_Hospital',
       'Patient_AdmitDate', 'Patient_DischargeDate', 'Patient_C19Variant',
       'Outcome_InhospitalMortality', 'Outcome_LOS', 'Outcome_ICUadmission',
       'Outcome_ICULOS',
       ...
       'LAB_TotalProtein_First', 'LAB_TSH_First', 'LAB_T4_First',
       'LAB_T3_First', 'LAB_VitD3_First', 'LAB_Zinc_y_First', 'LAB_IgM_First',
       'LAB_IgG_First', 'LAB_SARSCOV2Egene_First', 'LAB_SARSCOV2RDRP_First'],
      dtype='object', length=330)

In [9]:
head.shape

(5, 330)