In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.metrics import accuracy_score

In [41]:
df = pd.read_excel("3.xlsx")

In [42]:
df

,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS,Demographic_Age,Demographic_Gender,symtpm_to_referral,Symptom_Caugh,Symptom_Dyspnea,Symptom_Fever,...,LAB_CRP_Final,LAB_ESR_First,LAB_CPK_First,LAB_PTT_First,LAB_PT_First,LAB_INR_First,LAB_PH_Final,LAB_HCO3_Final,LAB_BE_Final,L1_1l22dGr2up12_First
0,0.0,30.0,1,25.0,33.0,1.0,8.0,1,1,0,...,114.0,62.0,661.0,32.6,10.9,1.00,7.23,39.0,-0.5,0.0
1,0.0,19.0,1,15.0,44.0,1.0,NaN,1,1,0,...,101.0,30.0,179.0,37.6,10.8,0.99,7.34,32.7,6.7,NaN
2,0.0,12.0,1,11.0,50.0,1.0,7.0,0,1,0,...,118.0,29.0,1956.0,27.4,12.1,1.11,7.41,33.4,8.7,NaN
3,1.0,18.0,1,9.0,71.0,1.0,7.0,0,1,1,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
4,1.0,18.0,1,9.0,71.0,1.0,7.0,0,1,1,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,6.0,0,0.0,88.0,0.0,10.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9130,1.0,8.0,0,0.0,51.0,1.0,11.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9131,1.0,11.0,1,19.0,64.0,0.0,12.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9132,1.0,6.0,0,0.0,38.0,1.0,14.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9133,1.0,20.0,1,18.0,91.0,1.0,14.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.shape[1]

162

In [44]:
...
# summarize the number of rows with missing values for each column
for i in range(df.shape[1]):
    # count number of rows with missing values
    n_miss = df.iloc[: ,i].isnull().sum()
    perc = n_miss / df.shape[0] * 100
    print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

> 0, Missing: 77 (0.8%)
> 1, Missing: 1 (0.0%)
> 2, Missing: 0 (0.0%)
> 3, Missing: 1 (0.0%)
> 4, Missing: 150 (1.6%)
> 5, Missing: 1 (0.0%)
> 6, Missing: 3852 (42.2%)
> 7, Missing: 0 (0.0%)
> 8, Missing: 0 (0.0%)
> 9, Missing: 0 (0.0%)
> 10, Missing: 0 (0.0%)
> 11, Missing: 0 (0.0%)
> 12, Missing: 0 (0.0%)
> 13, Missing: 1 (0.0%)
> 14, Missing: 0 (0.0%)
> 15, Missing: 0 (0.0%)
> 16, Missing: 0 (0.0%)
> 17, Missing: 0 (0.0%)
> 18, Missing: 0 (0.0%)
> 19, Missing: 0 (0.0%)
> 20, Missing: 0 (0.0%)
> 21, Missing: 0 (0.0%)
> 22, Missing: 0 (0.0%)
> 23, Missing: 0 (0.0%)
> 24, Missing: 0 (0.0%)
> 25, Missing: 0 (0.0%)
> 26, Missing: 0 (0.0%)
> 27, Missing: 0 (0.0%)
> 28, Missing: 2182 (23.9%)
> 29, Missing: 2181 (23.9%)
> 30, Missing: 0 (0.0%)
> 31, Missing: 0 (0.0%)
> 32, Missing: 0 (0.0%)
> 33, Missing: 0 (0.0%)
> 34, Missing: 0 (0.0%)
> 35, Missing: 0 (0.0%)
> 36, Missing: 0 (0.0%)
> 37, Missing: 0 (0.0%)
> 38, Missing: 0 (0.0%)
> 39, Missing: 0 (0.0%)
> 40, Missing: 0 (0.0%)
> 41, Missing: 0 (0.0%)
> 42, Missing: 0 (0.0%)
> 43, Missing: 0 (0.0%)
> 44, Missing: 0 (0.0%)
> 45, Missing: 0 (0.0%)
> 46, Missing: 0 (0.0%)
> 47, Missing: 0 (0.0%)
> 48, Missing: 0 (0.0%)
> 49, Missing: 0 (0.0%)
> 50, Missing: 0 (0.0%)
> 51, Missing: 0 (0.0%)
> 52, Missing: 0 (0.0%)
> 53, Missing: 0 (0.0%)
> 54, Missing: 0 (0.0%)
> 55, Missing: 0 (0.0%)
> 56, Missing: 0 (0.0%)
> 57, Missing: 0 (0.0%)
> 58, Missing: 1757 (19.2%)
> 59, Missing: 1225 (13.4%)
> 60, Missing: 1271 (13.9%)
> 61, Missing: 1252 (13.7%)
> 62, Missing: 1924 (21.1%)
> 63, Missing: 2000 (21.9%)
> 64, Missing: 0 (0.0%)
> 65, Missing: 0 (0.0%)
> 66, Missing: 0 (0.0%)
> 67, Missing: 0 (0.0%)
> 68, Missing: 0 (0.0%)
> 69, Missing: 0 (0.0%)
> 70, Missing: 0 (0.0%)
> 71, Missing: 0 (0.0%)
> 72, Missing: 60 (0.7%)
> 73, Missing: 0 (0.0%)
> 74, Missing: 60 (0.7%)
> 75, Missing: 0 (0.0%)
> 76, Missing: 0 (0.0%)
> 77, Missing: 0 (0.0%)
> 78, Missing: 0 (0.0%)
> 79, Missing: 60 (0.7%)
> 80, Missing: 0 (0.0%)
> 81, Missing: 0 (0.0%)
> 82, Missing: 60 (0.7%)
> 83, Missing: 60 (0.7%)
> 84, Missing: 60 (0.7%)
> 85, Missing: 60 (0.7%)
> 86, Missing: 60 (0.7%)
> 87, Missing: 1 (0.0%)
> 88, Missing: 0 (0.0%)
> 89, Missing: 2046 (22.4%)
> 90, Missing: 0 (0.0%)
> 91, Missing: 70 (0.8%)
> 92, Missing: 2091 (22.9%)
> 93, Missing: 60 (0.7%)
> 94, Missing: 0 (0.0%)
> 95, Missing: 60 (0.7%)
> 96, Missing: 0 (0.0%)
> 97, Missing: 0 (0.0%)
> 98, Missing: 60 (0.7%)
> 99, Missing: 2138 (23.4%)
> 100, Missing: 0 (0.0%)
> 101, Missing: 0 (0.0%)
> 102, Missing: 0 (0.0%)
> 103, Missing: 0 (0.0%)
> 104, Missing: 0 (0.0%)
> 105, Missing: 0 (0.0%)
> 106, Missing: 0 (0.0%)
> 107, Missing: 0 (0.0%)
> 108, Missing: 2173 (23.8%)
> 109, Missing: 0 (0.0%)
> 110, Missing: 0 (0.0%)
> 111, Missing: 0 (0.0%)
> 112, Missing: 2147 (23.5%)
> 113, Missing: 0 (0.0%)
> 114, Missing: 0 (0.0%)
> 115, Missing: 0 (0.0%)
> 116, Missing: 0 (0.0%)
> 117, Missing: 2505 (27.4%)
> 118, Missing: 2595 (28.4%)
> 119, Missing: 2632 (28.8%)
> 120, Missing: 2660 (29.1%)
> 121, Missing: 2648 (29.0%)
> 122, Missing: 2679 (29.3%)
> 123, Missing: 2673 (29.3%)
> 124, Missing: 2591 (28.4%)
> 125, Missing: 2641 (28.9%)
> 126, Missing: 2519 (27.6%)
> 127, Missing: 2514 (27.5%)
> 128, Missing: 2686 (29.4%)
> 129, Missing: 2677 (29.3%)
> 130, Missing: 4075 (44.6%)
> 131, Missing: 2988 (32.7%)
> 132, Missing: 3666 (40.1%)
> 133, Missing: 3083 (33.8%)
> 134, Missing: 3749 (41.0%)
> 135, Missing: 3036 (33.2%)
> 136, Missing: 3680 (40.3%)
> 137, Missing: 2961 (32.4%)
> 138, Missing: 3599 (39.4%)
> 139, Missing: 2953 (32.3%)
> 140, Missing: 3594 (39.3%)
> 141, Missing: 2943 (32.2%)
> 142, Missing: 4215 (46.1%)
> 143, Missing: 3775 (41.3%)
> 144, Missing: 3080 (33.7%)
> 145, Missing: 3089 (33.8%)
> 146, Missing: 3111 (34.1%)
> 147, Missing: 3094 (33.9%)
> 148, Missing: 3116 (34.1%)
> 149, Missing: 3829 (41.9%)
> 150, Missing: 3833 (42.0%)
> 151, Missing: 3960 (43.4%)
> 152, Missing: 3327 (36.4%)
> 153, Missing: 3892 (42.6%)
> 154, Missing: 3848 (42.1%)
> 155, Missing: 4041 (44.2%)
> 156, Missing: 4039 (44.2%)
> 157, Missing: 4036 (44.2%)
> 158, Missing: 3290 (36.0%)
> 159, Missing: 3304 (36.2%)
> 160, Missing: 3539 (38.7%)
> 161, Missing: 7923 (86.7%)

In [45]:
# knn imputation transform for the horse colic dataset
from numpy import isnan
from pandas import read_excel
from sklearn.impute import KNNImputer
# load dataset
dataframe =df 
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 115]
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 179889
Missing: 0

In [48]:
Xtrans

array([[ 0.00000000e+00,  3.00000000e+01,  1.00000000e+00, ...,
         3.90000000e+01, -5.00000000e-01,  0.00000000e+00],
       [ 0.00000000e+00,  1.90000000e+01,  1.00000000e+00, ...,
         3.27000000e+01,  6.70000000e+00,  6.80000000e+00],
       [ 0.00000000e+00,  1.20000000e+01,  1.00000000e+00, ...,
         3.34000000e+01,  8.70000000e+00,  6.40000000e+00],
       ...,
       [ 1.00000000e+00,  1.10000000e+01,  1.00000000e+00, ...,
         2.85799999e+09,  2.49999995e+09,  7.00000000e+00],
       [ 1.00000000e+00,  6.00000000e+00,  0.00000000e+00, ...,
         2.83799999e+09,  9.06000012e+08,  7.60000000e+00],
       [ 1.00000000e+00,  2.00000000e+01,  1.00000000e+00, ...,
         2.83799999e+09,  5.06000012e+08,  6.40000000e+00]])

In [49]:
test.shape

(9134, 161)

In [50]:
df.shape

(9134, 162)

In [51]:
test

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,0.0,30.0,1.0,25.0,33.0,1.0,8.0,1.0,1.0,0.0,...,1.140000e+02,62.0,661.0,3.260000e+01,1.090000e+01,1.000000e+00,7.230000e+00,3.900000e+01,-5.000000e-01,0.0
1,0.0,19.0,1.0,15.0,44.0,1.0,6.2,1.0,1.0,0.0,...,1.010000e+02,30.0,179.0,3.760000e+01,1.080000e+01,9.900000e-01,7.340000e+00,3.270000e+01,6.700000e+00,6.8
2,0.0,12.0,1.0,11.0,50.0,1.0,7.0,0.0,1.0,0.0,...,1.180000e+02,29.0,1956.0,2.740000e+01,1.210000e+01,1.110000e+00,7.410000e+00,3.340000e+01,8.700000e+00,6.4
3,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.000000e+00,20.0,30.0,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00,4.4
4,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.000000e+00,20.0,30.0,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,6.0,0.0,0.0,88.0,0.0,10.0,1.0,1.0,0.0,...,1.114000e+09,41.4,314.2,2.448000e+09,1.488000e+09,1.844000e+09,6.077400e+09,2.850000e+09,6.260000e+08,8.0
9130,1.0,8.0,0.0,0.0,51.0,1.0,11.0,1.0,1.0,1.0,...,1.770000e+09,32.6,428.8,2.044000e+09,1.622000e+09,1.062000e+09,6.057400e+09,2.578000e+09,1.142000e+09,8.0
9131,1.0,11.0,1.0,19.0,64.0,0.0,12.0,1.0,1.0,1.0,...,1.266000e+09,31.0,182.4,2.118000e+09,1.414000e+09,2.528000e+09,7.452000e+09,2.858000e+09,2.500000e+09,7.0
9132,1.0,6.0,0.0,0.0,38.0,1.0,14.0,1.0,1.0,0.0,...,2.096000e+09,41.4,226.0,2.448000e+09,1.488000e+09,2.210000e+09,6.111400e+09,2.838000e+09,9.060000e+08,7.6
9133,1.0,20.0,1.0,18.0,91.0,1.0,14.0,1.0,1.0,0.0,...,2.096000e+09,41.4,227.8,2.448000e+09,1.488000e+09,2.202000e+09,6.093400e+09,2.838000e+09,5.060000e+08,6.4

In [56]:
data1 = pd.DataFrame(data[:, ix])

data2 = pd.DataFrame(Xtrans)

# Create a new dictionary to store the updated values
updated_data = {}

# Iterate through the columns in both data1 and data2
for key in data1.keys():
    if key in data2:
        updated_data[key] = data2[key]  # Use values from data2 for the common columns
    else:
        updated_data[key] = data1[key]  # Use values from data1 for columns not in data2

# Create a DataFrame from the updated_data
import pandas as pd

df = pd.DataFrame(updated_data)

df

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,0.0,30.0,1.0,25.0,33.0,1.0,8.0,1.0,1.0,0.0,...,1.140000e+02,62.0,661.0,3.260000e+01,1.090000e+01,1.000000e+00,7.230000e+00,3.900000e+01,-5.000000e-01,0.0
1,0.0,19.0,1.0,15.0,44.0,1.0,6.2,1.0,1.0,0.0,...,1.010000e+02,30.0,179.0,3.760000e+01,1.080000e+01,9.900000e-01,7.340000e+00,3.270000e+01,6.700000e+00,6.8
2,0.0,12.0,1.0,11.0,50.0,1.0,7.0,0.0,1.0,0.0,...,1.180000e+02,29.0,1956.0,2.740000e+01,1.210000e+01,1.110000e+00,7.410000e+00,3.340000e+01,8.700000e+00,6.4
3,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.000000e+00,20.0,30.0,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00,4.4
4,1.0,18.0,1.0,9.0,71.0,1.0,7.0,0.0,1.0,1.0,...,3.000000e+00,20.0,30.0,2.910000e+01,1.420000e+01,1.310000e+00,7.420000e+00,3.280000e+01,8.300000e+00,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,6.0,0.0,0.0,88.0,0.0,10.0,1.0,1.0,0.0,...,1.114000e+09,41.4,314.2,2.448000e+09,1.488000e+09,1.844000e+09,6.077400e+09,2.850000e+09,6.260000e+08,8.0
9130,1.0,8.0,0.0,0.0,51.0,1.0,11.0,1.0,1.0,1.0,...,1.770000e+09,32.6,428.8,2.044000e+09,1.622000e+09,1.062000e+09,6.057400e+09,2.578000e+09,1.142000e+09,8.0
9131,1.0,11.0,1.0,19.0,64.0,0.0,12.0,1.0,1.0,1.0,...,1.266000e+09,31.0,182.4,2.118000e+09,1.414000e+09,2.528000e+09,7.452000e+09,2.858000e+09,2.500000e+09,7.0
9132,1.0,6.0,0.0,0.0,38.0,1.0,14.0,1.0,1.0,0.0,...,2.096000e+09,41.4,226.0,2.448000e+09,1.488000e+09,2.210000e+09,6.111400e+09,2.838000e+09,9.060000e+08,7.6
9133,1.0,20.0,1.0,18.0,91.0,1.0,14.0,1.0,1.0,0.0,...,2.096000e+09,41.4,227.8,2.448000e+09,1.488000e+09,2.202000e+09,6.093400e+09,2.838000e+09,5.060000e+08,6.4

{'A': [1, 2, 3, 4],
 'B': [5, 6, 7, 8],
 'C': [9, 10, 11, 12],
 'D': [13, 14, 15, 16]}