In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_excel("3.xlsx")

In [16]:
df

,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS,Demographic_Age,Demographic_Gender,symtpm_to_referral,Symptom_Caugh,Symptom_Dyspnea,Symptom_Fever,...,LAB_CRP_Final,LAB_ESR_First,LAB_CPK_First,LAB_PTT_First,LAB_PT_First,LAB_INR_First,LAB_PH_Final,LAB_HCO3_Final,LAB_BE_Final,L1_1l22dGr2up12_First
0,0.0,30.0,1,25.0,33.0,1.0,8.0,1,1,0,...,114.0,62.0,661.0,32.6,10.9,1.00,7.23,39.0,-0.5,0.0
1,0.0,19.0,1,15.0,44.0,1.0,NaN,1,1,0,...,101.0,30.0,179.0,37.6,10.8,0.99,7.34,32.7,6.7,NaN
2,0.0,12.0,1,11.0,50.0,1.0,7.0,0,1,0,...,118.0,29.0,1956.0,27.4,12.1,1.11,7.41,33.4,8.7,NaN
3,1.0,18.0,1,9.0,71.0,1.0,7.0,0,1,1,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
4,1.0,18.0,1,9.0,71.0,1.0,7.0,0,1,1,...,3.0,20.0,30.0,29.1,14.2,1.31,7.42,32.8,8.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,6.0,0,0.0,88.0,0.0,10.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9130,1.0,8.0,0,0.0,51.0,1.0,11.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9131,1.0,11.0,1,19.0,64.0,0.0,12.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9132,1.0,6.0,0,0.0,38.0,1.0,14.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9133,1.0,20.0,1,18.0,91.0,1.0,14.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.isnull().sum()

Outcome_InhospitalMortality      77
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    1
Demographic_Age                 150
                               ...
LAB_INR_First                  4036
LAB_PH_Final                   3290
LAB_HCO3_Final                 3304
LAB_BE_Final                   3539
L1_1l22dGr2up12_First          7923
Length: 162, dtype: int64

In [10]:
...
# summarize the number of rows with missing values for each column
for i in range(df.shape[1]):
    # count number of rows with missing values
    n_miss = df[[i]].isnull().sum()
    perc = n_miss / df.shape[0] * 100
    print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

In [ ]:
# knn imputation transform for the horse colic dataset
from numpy import isnan
from pandas import read_excel
from sklearn.impute import KNNImputer
# load dataset
url = df
dataframe = read_excel(url, header=None)
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))