In [1]:
import pandas as pd

In [4]:
a=[1,2,3,4]
b= pd.DataFrame(a)
for i in b:
    print(b[i])

0    1
1    2
2    3
3    4
Name: 0, dtype: int64

In [2]:
df= pd.read_excel("ClincolabratoryAll_Labeled_Cleaned_Anonynimized.xlsx")
block2 = df.loc[1: , 'Outcome_InhospitalMortality':'Outcome_ICULOS']

In [3]:
block2

,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS
1,Died,30,1,25
2,Died,19,1,15
3,Died,12,1,11
4,Survived,18,1,9
5,Survived,18,1,9
...,...,...,...,...
9130,Survived,6,0,0
9131,Survived,8,0,0
9132,Survived,11,1,19
9133,Survived,6,0,0
9134,Survived,20,1,18

In [9]:
def fun2(info):
    if info[0]=='Died':
        a="patient Died. "
    elif info[0]=='Survived':
        a="patient Survived. "
    elif info[0]=='Unknown':
        a="patient outcome is Unknown. "
    
    b = "Lentgh of Stay in hospital is "+str(info[1])+" days. "

    if info[2]=='1':
        c = "patient had ICU Admission, even one day "
    elif info[2]=='0':
        c = "patient did not have ICU Admission, even one day. "

    if info[3]=='0' or info[3]== 'NAN':
        d= 'patient did not stay in ICU'
    else:
        d = "Lentgh of Stay at ICU is "+str(info[3])+" days. "
    return(a+b+c+d)
    

paragraphs = []

for index, row in block2.iterrows():
    sentences = []
    for value in row.items():
        cell_value = str(value)
        sentences.append(cell_value)
    paragraph=''.join(fun2(sentences))
    
    # Add the paragraph to the list of paragraphs
    paragraphs.append(paragraph)

# Display the list of paragraphs
for paragraph in paragraphs:
    print(paragraph)
    print('---')

UnboundLocalError: local variable 'a' referenced before assignment

In [5]:
paragraphs = []

for index, row in block2.iterrows():
    print(index, row)

1 Outcome_InhospitalMortality    Died
Outcome_LOS                      30
Outcome_ICUadmission              1
Outcome_ICULOS                   25
Name: 1, dtype: object
2 Outcome_InhospitalMortality    Died
Outcome_LOS                      19
Outcome_ICUadmission              1
Outcome_ICULOS                   15
Name: 2, dtype: object
3 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 3, dtype: object
4 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 4, dtype: object
5 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 5, dtype: object
6 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6, dtype: object
7 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7, dtype: object
8 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8, dtype: object
9 Outcome_InhospitalMortality    Survived
Outcome_LOS                          35
Outcome_ICUadmission                  1
Outcome_ICULOS                       25
Name: 9, dtype: object
10 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        6
Name: 10, dtype: object
11 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 11, dtype: object
12 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 12, dtype: object
13 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 13, dtype: object
14 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 14, dtype: object
15 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 15, dtype: object
16 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 16, dtype: object
17 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 17, dtype: object
18 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 18, dtype: object
19 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 19, dtype: object
20 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 20, dtype: object
21 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 21, dtype: object
22 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 22, dtype: object
23 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 23, dtype: object
24 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 24, dtype: object
25 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 25, dtype: object
26 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 26, dtype: object
27 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 27, dtype: object
28 Outcome_InhospitalMortality    Died
Outcome_LOS                      21
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 28, dtype: object
29 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 29, dtype: object
30 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 30, dtype: object
31 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 31, dtype: object
32 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 32, dtype: object
33 Outcome_InhospitalMortality    Survived
Outcome_LOS                          70
Outcome_ICUadmission                  1
Outcome_ICULOS                       65
Name: 33, dtype: object
34 Outcome_InhospitalMortality    Died
Outcome_LOS                      35
Outcome_ICUadmission              1
Outcome_ICULOS                   35
Name: 34, dtype: object
35 Outcome_InhospitalMortality    Survived
Outcome_LOS                          39
Outcome_ICUadmission                  1
Outcome_ICULOS                       32
Name: 35, dtype: object
36 Outcome_InhospitalMortality    Died
Outcome_LOS                      36
Outcome_ICUadmission              1
Outcome_ICULOS                   32
Name: 36, dtype: object
37 Outcome_InhospitalMortality    Died
Outcome_LOS                      42
Outcome_ICUadmission              1
Outcome_ICULOS                   32
Name: 37, dtype: object
38 Outcome_InhospitalMortality    Survived
Outcome_LOS                          33
Outcome_ICUadmission                  1
Outcome_ICULOS                       30
Name: 38, dtype: object
39 Outcome_InhospitalMortality    Died
Outcome_LOS                      31
Outcome_ICUadmission              1
Outcome_ICULOS                   30
Name: 39, dtype: object
40 Outcome_InhospitalMortality    Survived
Outcome_LOS                          41
Outcome_ICUadmission                  1
Outcome_ICULOS                       29
Name: 40, dtype: object
41 Outcome_InhospitalMortality    Died
Outcome_LOS                      28
Outcome_ICUadmission              1
Outcome_ICULOS                   28
Name: 41, dtype: object
42 Outcome_InhospitalMortality    Survived
Outcome_LOS                          31
Outcome_ICUadmission                  1
Outcome_ICULOS                       27
Name: 42, dtype: object
43 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              1
Outcome_ICULOS                   22
Name: 43, dtype: object
44 Outcome_InhospitalMortality    Died
Outcome_LOS                      19
Outcome_ICUadmission              1
Outcome_ICULOS                   19
Name: 44, dtype: object
45 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  1
Outcome_ICULOS                       19
Name: 45, dtype: object
46 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              1
Outcome_ICULOS                   18
Name: 46, dtype: object
47 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  1
Outcome_ICULOS                       18
Name: 47, dtype: object
48 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  1
Outcome_ICULOS                       17
Name: 48, dtype: object
49 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              1
Outcome_ICULOS                   17
Name: 49, dtype: object
50 Outcome_InhospitalMortality    Died
Outcome_LOS                      21
Outcome_ICUadmission              1
Outcome_ICULOS                   17
Name: 50, dtype: object
51 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   16
Name: 51, dtype: object
52 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   16
Name: 52, dtype: object
53 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  1
Outcome_ICULOS                       16
Name: 53, dtype: object
54 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  1
Outcome_ICULOS                       15
Name: 54, dtype: object
55 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                       14
Name: 55, dtype: object
56 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                       13
Name: 56, dtype: object
57 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  1
Outcome_ICULOS                       13
Name: 57, dtype: object
58 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                       13
Name: 58, dtype: object
59 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 59, dtype: object
60 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  1
Outcome_ICULOS                       12
Name: 60, dtype: object
61 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 61, dtype: object
62 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 62, dtype: object
63 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 63, dtype: object
64 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 64, dtype: object
65 Outcome_InhospitalMortality    Died
Outcome_LOS                      20
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 65, dtype: object
66 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 66, dtype: object
67 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                       11
Name: 67, dtype: object
68 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 68, dtype: object
69 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 69, dtype: object
70 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                       11
Name: 70, dtype: object
71 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                       11
Name: 71, dtype: object
72 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 72, dtype: object
73 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 73, dtype: object
74 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 74, dtype: object
75 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 75, dtype: object
76 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 76, dtype: object
77 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 77, dtype: object
78 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 78, dtype: object
79 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 79, dtype: object
80 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 80, dtype: object
81 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 81, dtype: object
82 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 82, dtype: object
83 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 83, dtype: object
84 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 84, dtype: object
85 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 85, dtype: object
86 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 86, dtype: object
87 Outcome_InhospitalMortality    Survived
Outcome_LOS                          25
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 87, dtype: object
88 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 88, dtype: object
89 Outcome_InhospitalMortality    Died
Outcome_LOS                      19
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 89, dtype: object
90 Outcome_InhospitalMortality    Died
Outcome_LOS                      34
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 90, dtype: object
91 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 91, dtype: object
92 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 92, dtype: object
93 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 93, dtype: object
94 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 94, dtype: object
95 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 95, dtype: object
96 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 96, dtype: object
97 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 97, dtype: object
98 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 98, dtype: object
99 Outcome_InhospitalMortality    Survived
Outcome_LOS                          25
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 99, dtype: object
100 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 100, dtype: object
101 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 101, dtype: object
102 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 102, dtype: object
103 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 103, dtype: object
104 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 104, dtype: object
105 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 105, dtype: object
106 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 106, dtype: object
107 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 107, dtype: object
108 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 108, dtype: object
109 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 109, dtype: object
110 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 110, dtype: object
111 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 111, dtype: object
112 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16

Name: 553, dtype: object
554 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 554, dtype: object
555 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 555, dtype: object
556 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 556, dtype: object
557 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 557, dtype: object
558 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 558, dtype: object
559 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 559, dtype: object
560 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 560, dtype: object
561 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 561, dtype: object
562 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 562, dtype: object
563 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 563, dtype: object
564 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 564, dtype: object
565 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 565, dtype: object
566 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 566, dtype: object
567 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 567, dtype: object
568 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 568, dtype: object
569 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 569, dtype: object
570 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 570, dtype: object
571 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 571, dtype: object
572 Outcome_InhospitalMortality    Survived
Outcome_LOS                          30
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 572, dtype: object
573 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 573, dtype: object
574 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 574, dtype: object
575 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 575, dtype: object
576 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 576, dtype: object
577 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 577, dtype: object
578 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 578, dtype: object
579 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 579, dtype: object
580 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 580, dtype: object
581 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 581, dtype: object
582 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 582, dtype: object
583 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 583, dtype: object
584 Outcome_InhospitalMortality    Died
Outcome_LOS                      25
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 584, dtype: object
585 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 585, dtype: object
586 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 586, dtype: object
587 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 587, dtype: object
588 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 588, dtype: object
589 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 589, dtype: object
590 Outcome_InhospitalMortality    Died
Outcome_LOS                      26
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 590, dtype: object
591 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 591, dtype: object
592 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 592, dtype: object
593 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 593, dtype: object
594 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 594, dtype: object
595 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 595, dtype: object
596 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 596, dtype: object
597 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 597, dtype: object
598 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 598, dtype: object
599 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 599, dtype: object
600 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 600, dtype: object
601 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 601, dtype: object
602 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 602, dtype: object
603 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 603, dtype: object
604 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 604, dtype: object
605 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 605, dtype: object
606 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 606, dtype: object
607 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 607, dtype: object
608 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 608, dtype: object
609 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 609, dtype: object
610 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 610, dtype: object
611 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 611, dtype: object
612 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 612, dtype: object
613 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 613, dtype: object
614 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 614, dtype: object
615 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 615, dtype: object
616 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 616, dtype: object
617 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 617, dtype: object
618 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 618, dtype: object
619 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 619, dtype: object
620 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 620, dtype: object
621 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 621, dtype: object
622 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 622, dtype: object
623 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 623, dtype: object
624 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 624, dtype: object
625 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 625, dtype: object
626 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 626, dtype: object
627 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 627, dtype: object
628 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 628, dtype: object
629 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 629, dtype: object
630 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 630, dtype: object
631 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 631, dtype: object
632 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 632, dtype: object
633 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 633, dtype: object
634 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 634, dtype: object
635 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 635, dtype: object
636 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 636, dtype: object
637 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 637, dtype: object
638 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 638, dtype: object
639 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 639, dtype: object
640 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 640, dtype: object
641 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 641, dtype: object
642 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 642, dtype: object
643 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 643, dtype: object
644 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 644, dtype: object
645 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 645, dtype: object
646 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 646, dtype: object
647 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 647, dtype: object
648 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 648, dtype: object
649 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 649, dtype: object
650 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 650, dtype: object
651 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 651, dtype: object
652 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 652, dtype: object
653 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 653, dtype: object
654 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 654, dtype: object
655 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 655, dtype: object
656 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 656, dtype: object
657 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 657, dtype: object
658 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 658, dtype: object
659 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 659, dtype: object
660 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 660, dtype: object
661 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 661, dtype: object
662 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 662, dtype: object
663 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 663, dtype: object

885 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 885, dtype: object
886 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 886, dtype: object
887 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 887, dtype: object
888 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 888, dtype: object
889 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 889, dtype: object
890 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 890, dtype: object
891 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 891, dtype: object
892 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 892, dtype: object
893 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 893, dtype: object
894 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 894, dtype: object
895 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 895, dtype: object
896 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 896, dtype: object
897 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 897, dtype: object
898 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 898, dtype: object
899 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 899, dtype: object
900 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 900, dtype: object
901 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 901, dtype: object
902 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 902, dtype: object
903 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 903, dtype: object
904 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 904, dtype: object
905 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 905, dtype: object
906 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 906, dtype: object
907 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 907, dtype: object
908 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 908, dtype: object
909 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 909, dtype: object
910 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 910, dtype: object
911 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 911, dtype: object
912 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 912, dtype: object
913 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 913, dtype: object
914 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 914, dtype: object
915 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 915, dtype: object
916 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 916, dtype: object
917 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 917, dtype: object
918 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 918, dtype: object
919 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 919, dtype: object
920 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 920, dtype: object
921 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 921, dtype: object
922 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 922, dtype: object
923 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 923, dtype: object
924 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 924, dtype: object
925 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 925, dtype: object
926 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 926, dtype: object
927 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 927, dtype: object
928 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 928, dtype: object
929 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 929, dtype: object
930 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 930, dtype: object
931 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 931, dtype: object
932 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 932, dtype: object
933 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 933, dtype: object
934 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 934, dtype: object
935 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 935, dtype: object
936 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 936, dtype: object
937 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 937, dtype: object
938 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 938, dtype: object
939 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 939, dtype: object
940 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 940, dtype: object
941 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 941, dtype: object
942 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 942, dtype: object
943 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 943, dtype: object
944 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 944, dtype: object
945 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 945, dtype: object
946 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 946, dtype: object
947 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 947, dtype: object
948 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 948, dtype: object
949 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 949, dtype: object
950 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 950, dtype: object
951 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 951, dtype: object
952 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 952, dtype: object
953 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 953, dtype: object
954 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 954, dtype: object
955 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 955, dtype: object
956 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 956, dtype: object
957 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 957, dtype: object
958 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 958, dtype: object
959 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 959, dtype: object
960 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 960, dtype: object
961 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 961, dtype: object
962 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 962, dtype: object
963 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 963, dtype: object
964 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 964, dtype: object
965 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 965, dtype: object
966 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 966, dtype: object
967 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 967, dtype: object
968 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 968, dtype: object
969 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 969, dtype: object
970 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 970, dtype: object
971 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 971, dtype: object
972 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 972, dtype: object
973 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 973, dtype: object
974 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 974, dtype: object
975 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 975, dtype: object
976 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 976, dtype: object
977 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 977, dtype: object
978 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 978, dtype: object
979 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 979, dtype: object
980 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 980, dtype: object
981 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 981, dtype: object
982 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 982, dtype: object
983 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 983, dtype: object
984 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 984, dtype: object
985 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 985, dtype: object
986 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 986, dtype: object
987 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 987, dtype: object
988 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 988, dtype: object
989 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 989, dtype: object
990 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 990, dtype: object
991 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0

Name: 1336, dtype: object
1337 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1337, dtype: object
1338 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1338, dtype: object
1339 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1339, dtype: object
1340 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1340, dtype: object
1341 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1341, dtype: object
1342 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1342, dtype: object
1343 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1343, dtype: object
1344 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1344, dtype: object
1345 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1345, dtype: object
1346 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1346, dtype: object
1347 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1347, dtype: object
1348 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1348, dtype: object
1349 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1349, dtype: object
1350 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1350, dtype: object
1351 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1351, dtype: object
1352 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1352, dtype: object
1353 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1353, dtype: object
1354 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1354, dtype: object
1355 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1355, dtype: object
1356 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1356, dtype: object
1357 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1357, dtype: object
1358 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1358, dtype: object
1359 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1359, dtype: object
1360 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1360, dtype: object
1361 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1361, dtype: object
1362 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1362, dtype: object
1363 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1363, dtype: object
1364 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1364, dtype: object
1365 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1365, dtype: object
1366 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1366, dtype: object
1367 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1367, dtype: object
1368 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1368, dtype: object
1369 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1369, dtype: object
1370 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1370, dtype: object
1371 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1371, dtype: object
1372 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1372, dtype: object
1373 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1373, dtype: object
1374 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1374, dtype: object
1375 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1375, dtype: object
1376 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1376, dtype: object
1377 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1377, dtype: object
1378 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1378, dtype: object
1379 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1379, dtype: object
1380 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1380, dtype: object
1381 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1381, dtype: object
1382 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1382, dtype: object
1383 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1383, dtype: object
1384 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1384, dtype: object
1385 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1385, dtype: object
1386 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1386, dtype: object
1387 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1387, dtype: object
1388 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1388, dtype: object
1389 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1389, dtype: object
1390 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1390, dtype: object
1391 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1391, dtype: object
1392 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1392, dtype: object
1393 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1393, dtype: object
1394 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1394, dtype: object
1395 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1395, dtype: object
1396 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1396, dtype: object
1397 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1397, dtype: object
1398 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1398, dtype: object
1399 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1399, dtype: object
1400 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1400, dtype: object
1401 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1401, dtype: object
1402 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1402, dtype: object
1403 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1403, dtype: object
1404 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1404, dtype: object
1405 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1405, dtype: object
1406 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1406, dtype: object
1407 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1407, dtype: object
1408 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1408, dtype: object
1409 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1409, dtype: object
1410 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1410, dtype: object
1411 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1411, dtype: object
1412 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1412, dtype: object
1413 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1413, dtype: object
1414 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1414, dtype: object
1415 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1415, dtype: object
1416 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1416, dtype: object
1417 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1417, dtype: object
1418 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1418, dtype: object
1419 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1419, dtype: object
1420 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1420, dtype: object
1421 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1421, dtype: object
1422 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1422, dtype: object
1423 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1423, dtype: object
1424 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1424, dtype: object
1425 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1425, dtype: object
1426 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1426, dtype: object
1427 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1427, dtype: object
1428 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1428, dtype: object
1429 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1429, dtype: object
1430 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1430, dtype: object
1431 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1431, dtype: object
1432 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1432, dtype: object
1433 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1433, dtype: object
1434 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1434, dtype: object
1435 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1435, dtype: object
1436 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1436, dtype: object
1437 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1437, dtype: object
1438 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1438, dtype: object
1439 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1439, dtype: object
1440 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1440, dtype: object
1441 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1441, dtype: object
1442 Outcome_InhospitalMortality    Survived

Name: 1754, dtype: object
1755 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1755, dtype: object
1756 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1756, dtype: object
1757 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1757, dtype: object
1758 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1758, dtype: object
1759 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1759, dtype: object
1760 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1760, dtype: object
1761 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1761, dtype: object
1762 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1762, dtype: object
1763 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1763, dtype: object
1764 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1764, dtype: object
1765 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1765, dtype: object
1766 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1766, dtype: object
1767 Outcome_InhospitalMortality    Died
Outcome_LOS                       0
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1767, dtype: object
1768 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1768, dtype: object
1769 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1769, dtype: object
1770 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1770, dtype: object
1771 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1771, dtype: object
1772 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1772, dtype: object
1773 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1773, dtype: object
1774 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1774, dtype: object
1775 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1775, dtype: object
1776 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1776, dtype: object
1777 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1777, dtype: object
1778 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1778, dtype: object
1779 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1779, dtype: object
1780 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1780, dtype: object
1781 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1781, dtype: object
1782 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1782, dtype: object
1783 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1783, dtype: object
1784 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1784, dtype: object
1785 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1785, dtype: object
1786 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1786, dtype: object
1787 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1787, dtype: object
1788 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1788, dtype: object
1789 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1789, dtype: object
1790 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1790, dtype: object
1791 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1791, dtype: object
1792 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1792, dtype: object
1793 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1793, dtype: object
1794 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1794, dtype: object
1795 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1795, dtype: object
1796 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1796, dtype: object
1797 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1797, dtype: object
1798 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1798, dtype: object
1799 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1799, dtype: object
1800 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1800, dtype: object
1801 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1801, dtype: object
1802 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1802, dtype: object
1803 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1803, dtype: object
1804 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1804, dtype: object
1805 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1805, dtype: object
1806 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1806, dtype: object
1807 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1807, dtype: object
1808 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1808, dtype: object
1809 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1809, dtype: object
1810 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1810, dtype: object
1811 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1811, dtype: object
1812 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1812, dtype: object
1813 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1813, dtype: object
1814 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1814, dtype: object
1815 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1815, dtype: object
1816 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1816, dtype: object
1817 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1817, dtype: object
1818 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1818, dtype: object
1819 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1819, dtype: object
1820 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1820, dtype: object
1821 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1821, dtype: object
1822 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1822, dtype: object
1823 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1823, dtype: object
1824 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1824, dtype: object
1825 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1825, dtype: object
1826 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1826, dtype: object
1827 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1827, dtype: object
1828 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1828, dtype: object
1829 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1829, dtype: object
1830 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1830, dtype: object
1831 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1831, dtype: object
1832 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1832, dtype: object
1833 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1833, dtype: object
1834 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1834, dtype: object
1835 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1835, dtype: object
1836 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1836, dtype: object
1837 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1837, dtype: object
1838 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1838, dtype: object
1839 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1839, dtype: object
1840 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1840, dtype: object
1841 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1841, dtype: object
1842 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1842, dtype: object
1843 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1843, dtype: object
1844 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1844, dtype: object
1845 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1845, dtype: object
1846 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1846, dtype: object
1847 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1847, dtype: object
1848 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1848, dtype: object
1849 Outcome_InhospitalMortality    Died
Outcome_LOS                       0
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 1849, dtype: object
1850 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1850, dtype: object
1851 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1851, dtype: object
1852 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1852, dtype: object
1853 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1853, dtype: object
1854 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1854, dtype: object
1855 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1855, dtype: object
1856 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1856, dtype: object
1857 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1857, dtype: object
1858 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1858, dtype: object
1859 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 1859, dtype: object
1860 Outcome_InhospitalMortality    Died

Name: 2178, dtype: object
2179 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2179, dtype: object
2180 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2180, dtype: object
2181 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2181, dtype: object
2182 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2182, dtype: object
2183 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2183, dtype: object
2184 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2184, dtype: object
2185 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2185, dtype: object
2186 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2186, dtype: object
2187 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2187, dtype: object
2188 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2188, dtype: object
2189 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2189, dtype: object
2190 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2190, dtype: object
2191 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2191, dtype: object
2192 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2192, dtype: object
2193 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2193, dtype: object
2194 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2194, dtype: object
2195 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2195, dtype: object
2196 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2196, dtype: object
2197 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2197, dtype: object
2198 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2198, dtype: object
2199 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2199, dtype: object
2200 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2200, dtype: object
2201 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2201, dtype: object
2202 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2202, dtype: object
2203 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2203, dtype: object
2204 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2204, dtype: object
2205 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2205, dtype: object
2206 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2206, dtype: object
2207 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2207, dtype: object
2208 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2208, dtype: object
2209 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2209, dtype: object
2210 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2210, dtype: object
2211 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2211, dtype: object
2212 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2212, dtype: object
2213 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2213, dtype: object
2214 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2214, dtype: object
2215 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2215, dtype: object
2216 Outcome_InhospitalMortality    Died
Outcome_LOS                       0
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2216, dtype: object
2217 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2217, dtype: object
2218 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2218, dtype: object
2219 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2219, dtype: object
2220 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2220, dtype: object
2221 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2221, dtype: object
2222 Outcome_InhospitalMortality    Died
Outcome_LOS                      30
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2222, dtype: object
2223 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2223, dtype: object
2224 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2224, dtype: object
2225 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2225, dtype: object
2226 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2226, dtype: object
2227 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2227, dtype: object
2228 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2228, dtype: object
2229 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2229, dtype: object
2230 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2230, dtype: object
2231 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2231, dtype: object
2232 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2232, dtype: object
2233 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2233, dtype: object
2234 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2234, dtype: object
2235 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2235, dtype: object
2236 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2236, dtype: object
2237 Outcome_InhospitalMortality    Died
Outcome_LOS                       0
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2237, dtype: object
2238 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2238, dtype: object
2239 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2239, dtype: object
2240 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2240, dtype: object
2241 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2241, dtype: object
2242 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2242, dtype: object
2243 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2243, dtype: object
2244 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2244, dtype: object
2245 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2245, dtype: object
2246 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2246, dtype: object
2247 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2247, dtype: object
2248 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2248, dtype: object
2249 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2249, dtype: object
2250 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2250, dtype: object
2251 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2251, dtype: object
2252 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2252, dtype: object
2253 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2253, dtype: object
2254 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2254, dtype: object
2255 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2255, dtype: object
2256 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2256, dtype: object
2257 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2257, dtype: object
2258 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2258, dtype: object
2259 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2259, dtype: object
2260 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2260, dtype: object
2261 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2261, dtype: object
2262 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2262, dtype: object
2263 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2263, dtype: object
2264 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2264, dtype: object
2265 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2265, dtype: object
2266 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2266, dtype: object
2267 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2267, dtype: object
2268 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2268, dtype: object
2269 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2269, dtype: object
2270 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2270, dtype: object
2271 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2271, dtype: object
2272 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2272, dtype: object
2273 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2273, dtype: object
2274 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2274, dtype: object
2275 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2275, dtype: object
2276 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2276, dtype: object
2277 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2277, dtype: object
2278 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2278, dtype: object
2279 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2279, dtype: object
2280 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2280, dtype: object
2281 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2281, dtype: object
2282 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2282, dtype: object
2283 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2283, dtype: object
2284 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2284, dtype: object
2285 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0

Name: 2504, dtype: object
2505 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2505, dtype: object
2506 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2506, dtype: object
2507 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2507, dtype: object
2508 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2508, dtype: object
2509 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2509, dtype: object
2510 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2510, dtype: object
2511 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2511, dtype: object
2512 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2512, dtype: object
2513 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2513, dtype: object
2514 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2514, dtype: object
2515 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2515, dtype: object
2516 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2516, dtype: object
2517 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2517, dtype: object
2518 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2518, dtype: object
2519 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2519, dtype: object
2520 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2520, dtype: object
2521 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2521, dtype: object
2522 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2522, dtype: object
2523 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2523, dtype: object
2524 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2524, dtype: object
2525 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2525, dtype: object
2526 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2526, dtype: object
2527 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2527, dtype: object
2528 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2528, dtype: object
2529 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2529, dtype: object
2530 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2530, dtype: object
2531 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2531, dtype: object
2532 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2532, dtype: object
2533 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2533, dtype: object
2534 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2534, dtype: object
2535 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2535, dtype: object
2536 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2536, dtype: object
2537 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2537, dtype: object
2538 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2538, dtype: object
2539 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2539, dtype: object
2540 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2540, dtype: object
2541 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2541, dtype: object
2542 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2542, dtype: object
2543 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2543, dtype: object
2544 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2544, dtype: object
2545 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2545, dtype: object
2546 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2546, dtype: object
2547 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2547, dtype: object
2548 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2548, dtype: object
2549 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2549, dtype: object
2550 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2550, dtype: object
2551 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2551, dtype: object
2552 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2552, dtype: object
2553 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2553, dtype: object
2554 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2554, dtype: object
2555 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2555, dtype: object
2556 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2556, dtype: object
2557 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2557, dtype: object
2558 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2558, dtype: object
2559 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2559, dtype: object
2560 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2560, dtype: object
2561 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2561, dtype: object
2562 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2562, dtype: object
2563 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2563, dtype: object
2564 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2564, dtype: object
2565 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2565, dtype: object
2566 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2566, dtype: object
2567 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2567, dtype: object
2568 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2568, dtype: object
2569 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2569, dtype: object
2570 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2570, dtype: object
2571 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2571, dtype: object
2572 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2572, dtype: object
2573 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2573, dtype: object
2574 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2574, dtype: object
2575 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2575, dtype: object
2576 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2576, dtype: object
2577 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2577, dtype: object
2578 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2578, dtype: object
2579 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2579, dtype: object
2580 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2580, dtype: object
2581 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2581, dtype: object
2582 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2582, dtype: object
2583 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2583, dtype: object
2584 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2584, dtype: object
2585 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2585, dtype: object
2586 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2586, dtype: object
2587 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2587, dtype: object
2588 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2588, dtype: object
2589 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2589, dtype: object
2590 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2590, dtype: object
2591 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2591, dtype: object
2592 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2592, dtype: object
2593 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2593, dtype: object
2594 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2594, dtype: object
2595 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2595, dtype: object
2596 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2596, dtype: object
2597 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2597, dtype: object
2598 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2598, dtype: object
2599 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2599, dtype: object
2600 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2600, dtype: object
2601 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2601, dtype: object
2602 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2602, dtype: object
2603 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2603, dtype: object
2604 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2604, dtype: object
2605 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2605, dtype: object
2606 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2606, dtype: object
2607 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2607, dtype: object
2608 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2608, dtype: object
2609 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2609, dtype: object
2610 Outcome_InhospitalMortality    Died

Name: 2798, dtype: object
2799 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2799, dtype: object
2800 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2800, dtype: object
2801 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2801, dtype: object
2802 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2802, dtype: object
2803 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2803, dtype: object
2804 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2804, dtype: object
2805 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2805, dtype: object
2806 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2806, dtype: object
2807 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2807, dtype: object
2808 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2808, dtype: object
2809 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2809, dtype: object
2810 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2810, dtype: object
2811 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2811, dtype: object
2812 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2812, dtype: object
2813 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2813, dtype: object
2814 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2814, dtype: object
2815 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2815, dtype: object
2816 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2816, dtype: object
2817 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2817, dtype: object
2818 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2818, dtype: object
2819 Outcome_InhospitalMortality    Survived
Outcome_LOS                          30
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2819, dtype: object
2820 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2820, dtype: object
2821 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2821, dtype: object
2822 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2822, dtype: object
2823 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2823, dtype: object
2824 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2824, dtype: object
2825 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2825, dtype: object
2826 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2826, dtype: object
2827 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2827, dtype: object
2828 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 2828, dtype: object
2829 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2829, dtype: object
2830 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2830, dtype: object
2831 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2831, dtype: object
2832 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2832, dtype: object
2833 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2833, dtype: object
2834 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2834, dtype: object
2835 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2835, dtype: object
2836 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2836, dtype: object
2837 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2837, dtype: object
2838 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2838, dtype: object
2839 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2839, dtype: object
2840 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2840, dtype: object
2841 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2841, dtype: object
2842 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2842, dtype: object
2843 Outcome_InhospitalMortality    Survived
Outcome_LOS                          48
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2843, dtype: object
2844 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2844, dtype: object
2845 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2845, dtype: object
2846 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2846, dtype: object
2847 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2847, dtype: object
2848 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2848, dtype: object
2849 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2849, dtype: object
2850 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2850, dtype: object
2851 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2851, dtype: object
2852 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2852, dtype: object
2853 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2853, dtype: object
2854 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2854, dtype: object
2855 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2855, dtype: object
2856 Outcome_InhospitalMortality    Survived
Outcome_LOS                          30
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2856, dtype: object
2857 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2857, dtype: object
2858 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2858, dtype: object
2859 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2859, dtype: object
2860 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 2860, dtype: object
2861 Outcome_InhospitalMortality    Survived
Outcome_LOS                          25
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2861, dtype: object
2862 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2862, dtype: object
2863 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2863, dtype: object
2864 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2864, dtype: object
2865 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2865, dtype: object
2866 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2866, dtype: object
2867 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2867, dtype: object
2868 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2868, dtype: object
2869 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2869, dtype: object
2870 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2870, dtype: object
2871 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2871, dtype: object
2872 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2872, dtype: object
2873 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2873, dtype: object
2874 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2874, dtype: object
2875 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2875, dtype: object
2876 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2876, dtype: object
2877 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2877, dtype: object
2878 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2878, dtype: object
2879 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2879, dtype: object
2880 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2880, dtype: object
2881 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2881, dtype: object
2882 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          6
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 2882, dtype: object
2883 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2883, dtype: object
2884 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2884, dtype: object
2885 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2885, dtype: object
2886 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2886, dtype: object
2887 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2887, dtype: object
2888 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2888, dtype: object
2889 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2889, dtype: object
2890 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2890, dtype: object
2891 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 2891, dtype: object
2892 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2892, dtype: object
2893 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2893, dtype: object
2894 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 2894, dtype: object
2895 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2895, dtype: object
2896 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2896, dtype: object
2897 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 2897, dtype: object
2898 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2898, dtype: object
2899 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2899, dtype: object
2900 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2900, dtype: object
2901 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2901, dtype: object
2902 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2902, dtype: object
2903 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2903, dtype: object
2904 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 2904, dtype: object
2905 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5

Name: 3174, dtype: object
3175 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3175, dtype: object
3176 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3176, dtype: object
3177 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3177, dtype: object
3178 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3178, dtype: object
3179 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3179, dtype: object
3180 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3180, dtype: object
3181 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3181, dtype: object
3182 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3182, dtype: object
3183 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3183, dtype: object
3184 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3184, dtype: object
3185 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3185, dtype: object
3186 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3186, dtype: object
3187 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3187, dtype: object
3188 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3188, dtype: object
3189 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3189, dtype: object
3190 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3190, dtype: object
3191 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3191, dtype: object
3192 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3192, dtype: object
3193 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3193, dtype: object
3194 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3194, dtype: object
3195 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3195, dtype: object
3196 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3196, dtype: object
3197 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3197, dtype: object
3198 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3198, dtype: object
3199 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3199, dtype: object
3200 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3200, dtype: object
3201 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          2
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 3201, dtype: object
3202 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3202, dtype: object
3203 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3203, dtype: object
3204 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3204, dtype: object
3205 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3205, dtype: object
3206 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3206, dtype: object
3207 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3207, dtype: object
3208 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3208, dtype: object
3209 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3209, dtype: object
3210 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3210, dtype: object
3211 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3211, dtype: object
3212 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3212, dtype: object
3213 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3213, dtype: object
3214 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3214, dtype: object
3215 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3215, dtype: object
3216 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3216, dtype: object
3217 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3217, dtype: object
3218 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3218, dtype: object
3219 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3219, dtype: object
3220 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3220, dtype: object
3221 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3221, dtype: object
3222 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3222, dtype: object
3223 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3223, dtype: object
3224 Outcome_InhospitalMortality    Died
Outcome_LOS                      31
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3224, dtype: object
3225 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3225, dtype: object
3226 Outcome_InhospitalMortality    Survived
Outcome_LOS                          29
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3226, dtype: object
3227 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3227, dtype: object
3228 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3228, dtype: object
3229 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3229, dtype: object
3230 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3230, dtype: object
3231 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3231, dtype: object
3232 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3232, dtype: object
3233 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3233, dtype: object
3234 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3234, dtype: object
3235 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3235, dtype: object
3236 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3236, dtype: object
3237 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3237, dtype: object
3238 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3238, dtype: object
3239 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3239, dtype: object
3240 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3240, dtype: object
3241 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3241, dtype: object
3242 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3242, dtype: object
3243 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3243, dtype: object
3244 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3244, dtype: object
3245 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3245, dtype: object
3246 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3246, dtype: object
3247 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3247, dtype: object
3248 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3248, dtype: object
3249 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3249, dtype: object
3250 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3250, dtype: object
3251 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3251, dtype: object
3252 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3252, dtype: object
3253 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3253, dtype: object
3254 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3254, dtype: object
3255 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3255, dtype: object
3256 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3256, dtype: object
3257 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3257, dtype: object
3258 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3258, dtype: object
3259 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3259, dtype: object
3260 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3260, dtype: object
3261 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3261, dtype: object
3262 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3262, dtype: object
3263 Outcome_InhospitalMortality    Survived
Outcome_LOS                          37
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3263, dtype: object
3264 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3264, dtype: object
3265 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3265, dtype: object
3266 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3266, dtype: object
3267 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3267, dtype: object
3268 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3268, dtype: object
3269 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3269, dtype: object
3270 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3270, dtype: object
3271 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3271, dtype: object
3272 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3272, dtype: object
3273 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3273, dtype: object
3274 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3274, dtype: object
3275 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3275, dtype: object
3276 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3276, dtype: object
3277 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3277, dtype: object
3278 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3278, dtype: object
3279 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3279, dtype: object
3280 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3280, dtype: object
3281 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2

3587 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3587, dtype: object
3588 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3588, dtype: object
3589 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3589, dtype: object
3590 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 3590, dtype: object
3591 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3591, dtype: object
3592 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3592, dtype: object
3593 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 3593, dtype: object
3594 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3594, dtype: object
3595 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3595, dtype: object
3596 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3596, dtype: object
3597 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3597, dtype: object
3598 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3598, dtype: object
3599 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3599, dtype: object
3600 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3600, dtype: object
3601 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3601, dtype: object
3602 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3602, dtype: object
3603 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3603, dtype: object
3604 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3604, dtype: object
3605 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3605, dtype: object
3606 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3606, dtype: object
3607 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3607, dtype: object
3608 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 3608, dtype: object
3609 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3609, dtype: object
3610 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3610, dtype: object
3611 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          4
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 3611, dtype: object
3612 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3612, dtype: object
3613 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3613, dtype: object
3614 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3614, dtype: object
3615 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3615, dtype: object
3616 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3616, dtype: object
3617 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3617, dtype: object
3618 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3618, dtype: object
3619 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3619, dtype: object
3620 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3620, dtype: object
3621 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3621, dtype: object
3622 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3622, dtype: object
3623 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3623, dtype: object
3624 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 3624, dtype: object
3625 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3625, dtype: object
3626 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3626, dtype: object
3627 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3627, dtype: object
3628 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3628, dtype: object
3629 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 3629, dtype: object
3630 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3630, dtype: object
3631 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3631, dtype: object
3632 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3632, dtype: object
3633 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3633, dtype: object
3634 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3634, dtype: object
3635 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3635, dtype: object
3636 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3636, dtype: object
3637 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3637, dtype: object
3638 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3638, dtype: object
3639 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3639, dtype: object
3640 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3640, dtype: object
3641 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3641, dtype: object
3642 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3642, dtype: object
3643 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3643, dtype: object
3644 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3644, dtype: object
3645 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3645, dtype: object
3646 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3646, dtype: object
3647 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3647, dtype: object
3648 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3648, dtype: object
3649 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3649, dtype: object
3650 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3650, dtype: object
3651 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3651, dtype: object
3652 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3652, dtype: object
3653 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3653, dtype: object
3654 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3654, dtype: object
3655 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3655, dtype: object
3656 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3656, dtype: object
3657 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3657, dtype: object
3658 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3658, dtype: object
3659 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3659, dtype: object
3660 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3660, dtype: object
3661 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3661, dtype: object
3662 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3662, dtype: object
3663 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3663, dtype: object
3664 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3664, dtype: object
3665 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3665, dtype: object
3666 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3666, dtype: object
3667 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3667, dtype: object
3668 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3668, dtype: object
3669 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3669, dtype: object
3670 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3670, dtype: object
3671 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3671, dtype: object
3672 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3672, dtype: object
3673 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3673, dtype: object
3674 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3674, dtype: object
3675 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3675, dtype: object
3676 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3676, dtype: object
3677 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3677, dtype: object
3678 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3678, dtype: object
3679 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3679, dtype: object
3680 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3680, dtype: object
3681 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3681, dtype: object
3682 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3682, dtype: object
3683 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 3683, dtype: object
3684 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3684, dtype: object
3685 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3685, dtype: object
3686 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3686, dtype: object
3687 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3687, dtype: object
3688 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 3688, dtype: object
3689 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3689, dtype: object
3690 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3690, dtype: object
3691 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 3691, dtype: object
3692 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 3692, dtype: object
3693 Outcome_InhospitalMortality    Died
Outcome_LOS                      10

Name: 4038, dtype: object
4039 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4039, dtype: object
4040 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4040, dtype: object
4041 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4041, dtype: object
4042 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4042, dtype: object
4043 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          5
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 4043, dtype: object
4044 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4044, dtype: object
4045 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4045, dtype: object
4046 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4046, dtype: object
4047 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4047, dtype: object
4048 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4048, dtype: object
4049 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4049, dtype: object
4050 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4050, dtype: object
4051 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4051, dtype: object
4052 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4052, dtype: object
4053 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4053, dtype: object
4054 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 4054, dtype: object
4055 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4055, dtype: object
4056 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4056, dtype: object
4057 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4057, dtype: object
4058 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4058, dtype: object
4059 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4059, dtype: object
4060 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4060, dtype: object
4061 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4061, dtype: object
4062 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4062, dtype: object
4063 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4063, dtype: object
4064 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4064, dtype: object
4065 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4065, dtype: object
4066 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4066, dtype: object
4067 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4067, dtype: object
4068 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4068, dtype: object
4069 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4069, dtype: object
4070 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4070, dtype: object
4071 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4071, dtype: object
4072 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4072, dtype: object
4073 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4073, dtype: object
4074 Outcome_InhospitalMortality    Died
Outcome_LOS                      21
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4074, dtype: object
4075 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4075, dtype: object
4076 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4076, dtype: object
4077 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4077, dtype: object
4078 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4078, dtype: object
4079 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4079, dtype: object
4080 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4080, dtype: object
4081 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4081, dtype: object
4082 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4082, dtype: object
4083 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4083, dtype: object
4084 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4084, dtype: object
4085 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4085, dtype: object
4086 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4086, dtype: object
4087 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4087, dtype: object
4088 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4088, dtype: object
4089 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4089, dtype: object
4090 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4090, dtype: object
4091 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4091, dtype: object
4092 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4092, dtype: object
4093 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4093, dtype: object
4094 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4094, dtype: object
4095 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4095, dtype: object
4096 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4096, dtype: object
4097 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4097, dtype: object
4098 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4098, dtype: object
4099 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4099, dtype: object
4100 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4100, dtype: object
4101 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4101, dtype: object
4102 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4102, dtype: object
4103 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4103, dtype: object
4104 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4104, dtype: object
4105 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4105, dtype: object
4106 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4106, dtype: object
4107 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4107, dtype: object
4108 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4108, dtype: object
4109 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4109, dtype: object
4110 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4110, dtype: object
4111 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4111, dtype: object
4112 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4112, dtype: object
4113 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4113, dtype: object
4114 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4114, dtype: object
4115 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4115, dtype: object
4116 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4116, dtype: object
4117 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4117, dtype: object
4118 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4118, dtype: object
4119 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4119, dtype: object
4120 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4120, dtype: object
4121 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4121, dtype: object
4122 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4122, dtype: object
4123 Outcome_InhospitalMortality    Died
Outcome_LOS                      22
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4123, dtype: object
4124 Outcome_InhospitalMortality    Survived
Outcome_LOS                          62
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4124, dtype: object
4125 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4125, dtype: object
4126 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4126, dtype: object
4127 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4127, dtype: object
4128 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4128, dtype: object
4129 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4129, dtype: object
4130 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4130, dtype: object
4131 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4131, dtype: object
4132 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4132, dtype: object
4133 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4133, dtype: object
4134 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4134, dtype: object
4135 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4135, dtype: object
4136 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4136, dtype: object
4137 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4137, dtype: object
4138 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4138, dtype: object
4139 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4139, dtype: object
4140 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4140, dtype: object
4141 Outcome_InhospitalMortality    Died
Outcome_LOS                      24
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4141, dtype: object
4142 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4142, dtype: object
4143 Outcome_InhospitalMortality    Died
Outcome_LOS                      28
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4143, dtype: object
4144 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4144, dtype: object
4145 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0

Name: 4468, dtype: object
4469 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4469, dtype: object
4470 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4470, dtype: object
4471 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4471, dtype: object
4472 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4472, dtype: object
4473 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4473, dtype: object
4474 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4474, dtype: object
4475 Outcome_InhospitalMortality    Died
Outcome_LOS                      19
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4475, dtype: object
4476 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4476, dtype: object
4477 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4477, dtype: object
4478 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4478, dtype: object
4479 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4479, dtype: object
4480 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4480, dtype: object
4481 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4481, dtype: object
4482 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4482, dtype: object
4483 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4483, dtype: object
4484 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4484, dtype: object
4485 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4485, dtype: object
4486 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4486, dtype: object
4487 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 4487, dtype: object
4488 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4488, dtype: object
4489 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4489, dtype: object
4490 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4490, dtype: object
4491 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4491, dtype: object
4492 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4492, dtype: object
4493 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4493, dtype: object
4494 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4494, dtype: object
4495 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4495, dtype: object
4496 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4496, dtype: object
4497 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4497, dtype: object
4498 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4498, dtype: object
4499 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4499, dtype: object
4500 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 4500, dtype: object
4501 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4501, dtype: object
4502 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4502, dtype: object
4503 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4503, dtype: object
4504 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4504, dtype: object
4505 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4505, dtype: object
4506 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4506, dtype: object
4507 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4507, dtype: object
4508 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4508, dtype: object
4509 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4509, dtype: object
4510 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4510, dtype: object
4511 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4511, dtype: object
4512 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 4512, dtype: object
4513 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4513, dtype: object
4514 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4514, dtype: object
4515 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4515, dtype: object
4516 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4516, dtype: object
4517 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4517, dtype: object
4518 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4518, dtype: object
4519 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4519, dtype: object
4520 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4520, dtype: object
4521 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4521, dtype: object
4522 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4522, dtype: object
4523 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 4523, dtype: object
4524 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4524, dtype: object
4525 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4525, dtype: object
4526 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4526, dtype: object
4527 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4527, dtype: object
4528 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4528, dtype: object
4529 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4529, dtype: object
4530 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4530, dtype: object
4531 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4531, dtype: object
4532 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          6
Outcome_ICUadmission                 1
Outcome_ICULOS                       4
Name: 4532, dtype: object
4533 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4533, dtype: object
4534 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4534, dtype: object
4535 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4535, dtype: object
4536 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4536, dtype: object
4537 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4537, dtype: object
4538 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 4538, dtype: object
4539 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4539, dtype: object
4540 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4540, dtype: object
4541 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4541, dtype: object
4542 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4542, dtype: object
4543 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4543, dtype: object
4544 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4544, dtype: object
4545 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        6
Name: 4545, dtype: object
4546 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4546, dtype: object
4547 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4547, dtype: object
4548 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4548, dtype: object
4549 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4549, dtype: object
4550 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4550, dtype: object
4551 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                       15
Name: 4551, dtype: object
4552 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 4552, dtype: object
4553 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4553, dtype: object
4554 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4554, dtype: object
4555 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4555, dtype: object
4556 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4556, dtype: object
4557 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4557, dtype: object
4558 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4558, dtype: object
4559 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4559, dtype: object
4560 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4560, dtype: object
4561 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4561, dtype: object
4562 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 4562, dtype: object
4563 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4563, dtype: object
4564 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4564, dtype: object
4565 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4565, dtype: object
4566 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4566, dtype: object
4567 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4567, dtype: object
4568 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4568, dtype: object
4569 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4569, dtype: object
4570 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4570, dtype: object
4571 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  1
Outcome_ICULOS                       20
Name: 4571, dtype: object
4572 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4572, dtype: object
4573 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4573, dtype: object
4574 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0

Name: 4897, dtype: object
4898 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4898, dtype: object
4899 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 4899, dtype: object
4900 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4900, dtype: object
4901 Outcome_InhospitalMortality    Died
Outcome_LOS                      22
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4901, dtype: object
4902 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4902, dtype: object
4903 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4903, dtype: object
4904 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4904, dtype: object
4905 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4905, dtype: object
4906 Outcome_InhospitalMortality    Died
Outcome_LOS                      57
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 4906, dtype: object
4907 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4907, dtype: object
4908 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4908, dtype: object
4909 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4909, dtype: object
4910 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              1
Outcome_ICULOS                   18
Name: 4910, dtype: object
4911 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4911, dtype: object
4912 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4912, dtype: object
4913 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4913, dtype: object
4914 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4914, dtype: object
4915 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4915, dtype: object
4916 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4916, dtype: object
4917 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4917, dtype: object
4918 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4918, dtype: object
4919 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4919, dtype: object
4920 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4920, dtype: object
4921 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4921, dtype: object
4922 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4922, dtype: object
4923 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4923, dtype: object
4924 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4924, dtype: object
4925 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4925, dtype: object
4926 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4926, dtype: object
4927 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4927, dtype: object
4928 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          3
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 4928, dtype: object
4929 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4929, dtype: object
4930 Outcome_InhospitalMortality    Died
Outcome_LOS                      26
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 4930, dtype: object
4931 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 4931, dtype: object
4932 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4932, dtype: object
4933 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4933, dtype: object
4934 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4934, dtype: object
4935 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4935, dtype: object
4936 Outcome_InhospitalMortality    Survived
Outcome_LOS                          31
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4936, dtype: object
4937 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 4937, dtype: object
4938 Outcome_InhospitalMortality    Survived
Outcome_LOS                          34
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4938, dtype: object
4939 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 4939, dtype: object
4940 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4940, dtype: object
4941 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 4941, dtype: object
4942 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 4942, dtype: object
4943 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4943, dtype: object
4944 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4944, dtype: object
4945 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4945, dtype: object
4946 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4946, dtype: object
4947 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4947, dtype: object
4948 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4948, dtype: object
4949 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4949, dtype: object
4950 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 4950, dtype: object
4951 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4951, dtype: object
4952 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 4952, dtype: object
4953 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4953, dtype: object
4954 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 4954, dtype: object
4955 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4955, dtype: object
4956 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4956, dtype: object
4957 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4957, dtype: object
4958 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4958, dtype: object
4959 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4959, dtype: object
4960 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4960, dtype: object
4961 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4961, dtype: object
4962 Outcome_InhospitalMortality    Died
Outcome_LOS                      62
Outcome_ICUadmission              1
Outcome_ICULOS                   51
Name: 4962, dtype: object
4963 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4963, dtype: object
4964 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4964, dtype: object
4965 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4965, dtype: object
4966 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4966, dtype: object
4967 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4967, dtype: object
4968 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4968, dtype: object
4969 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4969, dtype: object
4970 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4970, dtype: object
4971 Outcome_InhospitalMortality    Died
Outcome_LOS                      26
Outcome_ICUadmission              1
Outcome_ICULOS                   20
Name: 4971, dtype: object
4972 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4972, dtype: object
4973 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 4973, dtype: object
4974 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4974, dtype: object
4975 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4975, dtype: object
4976 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 4976, dtype: object
4977 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 4977, dtype: object
4978 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4978, dtype: object
4979 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4979, dtype: object
4980 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4980, dtype: object
4981 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4981, dtype: object
4982 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4982, dtype: object
4983 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4983, dtype: object
4984 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 4984, dtype: object
4985 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4985, dtype: object
4986 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4986, dtype: object
4987 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4987, dtype: object
4988 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4988, dtype: object
4989 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4989, dtype: object
4990 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4990, dtype: object
4991 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4991, dtype: object
4992 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 4992, dtype: object
4993 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4993, dtype: object
4994 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4994, dtype: object
4995 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4995, dtype: object
4996 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4996, dtype: object
4997 Outcome_InhospitalMortality    Survived
Outcome_LOS                          33
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4997, dtype: object
4998 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4998, dtype: object
4999 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 4999, dtype: object
5000 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5000, dtype: object
5001 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5001, dtype: object
5002 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  1
Outcome_ICULOS                       20
Name: 5002, dtype: object
5003 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5003, dtype: object
5004 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2

5336 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5336, dtype: object
5337 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5337, dtype: object
5338 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5338, dtype: object
5339 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5339, dtype: object
5340 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5340, dtype: object
5341 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5341, dtype: object
5342 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5342, dtype: object
5343 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5343, dtype: object
5344 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5344, dtype: object
5345 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5345, dtype: object
5346 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5346, dtype: object
5347 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5347, dtype: object
5348 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5348, dtype: object
5349 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5349, dtype: object
5350 Outcome_InhospitalMortality    Survived
Outcome_LOS                          27
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 5350, dtype: object
5351 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5351, dtype: object
5352 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5352, dtype: object
5353 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5353, dtype: object
5354 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5354, dtype: object
5355 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5355, dtype: object
5356 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5356, dtype: object
5357 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5357, dtype: object
5358 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5358, dtype: object
5359 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5359, dtype: object
5360 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5360, dtype: object
5361 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 5361, dtype: object
5362 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5362, dtype: object
5363 Outcome_InhospitalMortality    Died
Outcome_LOS                      35
Outcome_ICUadmission              1
Outcome_ICULOS                   26
Name: 5363, dtype: object
5364 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5364, dtype: object
5365 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5365, dtype: object
5366 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5366, dtype: object
5367 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5367, dtype: object
5368 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5368, dtype: object
5369 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5369, dtype: object
5370 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5370, dtype: object
5371 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5371, dtype: object
5372 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5372, dtype: object
5373 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5373, dtype: object
5374 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5374, dtype: object
5375 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5375, dtype: object
5376 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5376, dtype: object
5377 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5377, dtype: object
5378 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5378, dtype: object
5379 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5379, dtype: object
5380 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5380, dtype: object
5381 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5381, dtype: object
5382 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5382, dtype: object
5383 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5383, dtype: object
5384 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5384, dtype: object
5385 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 5385, dtype: object
5386 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5386, dtype: object
5387 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5387, dtype: object
5388 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5388, dtype: object
5389 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5389, dtype: object
5390 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5390, dtype: object
5391 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5391, dtype: object
5392 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5392, dtype: object
5393 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5393, dtype: object
5394 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5394, dtype: object
5395 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5395, dtype: object
5396 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5396, dtype: object
5397 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5397, dtype: object
5398 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5398, dtype: object
5399 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5399, dtype: object
5400 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5400, dtype: object
5401 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5401, dtype: object
5402 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5402, dtype: object
5403 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5403, dtype: object
5404 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5404, dtype: object
5405 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5405, dtype: object
5406 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5406, dtype: object
5407 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5407, dtype: object
5408 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5408, dtype: object
5409 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5409, dtype: object
5410 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5410, dtype: object
5411 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 5411, dtype: object
5412 Outcome_InhospitalMortality    Survived
Outcome_LOS                          35
Outcome_ICUadmission                  1
Outcome_ICULOS                       16
Name: 5412, dtype: object
5413 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5413, dtype: object
5414 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5414, dtype: object
5415 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5415, dtype: object
5416 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5416, dtype: object
5417 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5417, dtype: object
5418 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5418, dtype: object
5419 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5419, dtype: object
5420 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5420, dtype: object
5421 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5421, dtype: object
5422 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 5422, dtype: object
5423 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5423, dtype: object
5424 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5424, dtype: object
5425 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5425, dtype: object
5426 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5426, dtype: object
5427 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5427, dtype: object
5428 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5428, dtype: object
5429 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5429, dtype: object
5430 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5430, dtype: object
5431 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5431, dtype: object
5432 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5432, dtype: object
5433 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5433, dtype: object
5434 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5434, dtype: object
5435 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5435, dtype: object
5436 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5436, dtype: object
5437 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5437, dtype: object
5438 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5438, dtype: object
5439 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5439, dtype: object
5440 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5440, dtype: object
5441 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0

5793 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5793, dtype: object
5794 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5794, dtype: object
5795 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5795, dtype: object
5796 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5796, dtype: object
5797 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5797, dtype: object
5798 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5798, dtype: object
5799 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5799, dtype: object
5800 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5800, dtype: object
5801 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 5801, dtype: object
5802 Outcome_InhospitalMortality    Died
Outcome_LOS                      19
Outcome_ICUadmission              1
Outcome_ICULOS                   16
Name: 5802, dtype: object
5803 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 5803, dtype: object
5804 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5804, dtype: object
5805 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5805, dtype: object
5806 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5806, dtype: object
5807 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5807, dtype: object
5808 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5808, dtype: object
5809 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5809, dtype: object
5810 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5810, dtype: object
5811 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5811, dtype: object
5812 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5812, dtype: object
5813 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5813, dtype: object
5814 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5814, dtype: object
5815 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5815, dtype: object
5816 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5816, dtype: object
5817 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5817, dtype: object
5818 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5818, dtype: object
5819 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5819, dtype: object
5820 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 5820, dtype: object
5821 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5821, dtype: object
5822 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5822, dtype: object
5823 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5823, dtype: object
5824 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5824, dtype: object
5825 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5825, dtype: object
5826 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5826, dtype: object
5827 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5827, dtype: object
5828 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5828, dtype: object
5829 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5829, dtype: object
5830 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5830, dtype: object
5831 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5831, dtype: object
5832 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5832, dtype: object
5833 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5833, dtype: object
5834 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5834, dtype: object
5835 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5835, dtype: object
5836 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5836, dtype: object
5837 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5837, dtype: object
5838 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 5838, dtype: object
5839 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5839, dtype: object
5840 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5840, dtype: object
5841 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5841, dtype: object
5842 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5842, dtype: object
5843 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5843, dtype: object
5844 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 5844, dtype: object
5845 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5845, dtype: object
5846 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5846, dtype: object
5847 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5847, dtype: object
5848 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5848, dtype: object
5849 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5849, dtype: object
5850 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5850, dtype: object
5851 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5851, dtype: object
5852 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5852, dtype: object
5853 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5853, dtype: object
5854 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5854, dtype: object
5855 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5855, dtype: object
5856 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5856, dtype: object
5857 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5857, dtype: object
5858 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  1
Outcome_ICULOS                       18
Name: 5858, dtype: object
5859 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5859, dtype: object
5860 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5860, dtype: object
5861 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5861, dtype: object
5862 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5862, dtype: object
5863 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5863, dtype: object
5864 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5864, dtype: object
5865 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5865, dtype: object
5866 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5866, dtype: object
5867 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5867, dtype: object
5868 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5868, dtype: object
5869 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5869, dtype: object
5870 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 5870, dtype: object
5871 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5871, dtype: object
5872 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5872, dtype: object
5873 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5873, dtype: object
5874 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5874, dtype: object
5875 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5875, dtype: object
5876 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 5876, dtype: object
5877 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5877, dtype: object
5878 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5878, dtype: object
5879 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5879, dtype: object
5880 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5880, dtype: object
5881 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5881, dtype: object
5882 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 5882, dtype: object
5883 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5883, dtype: object
5884 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5884, dtype: object
5885 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5885, dtype: object
5886 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5886, dtype: object
5887 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5887, dtype: object
5888 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5888, dtype: object
5889 Outcome_InhospitalMortality    Died
Outcome_LOS                      25
Outcome_ICUadmission              1
Outcome_ICULOS                   19
Name: 5889, dtype: object
5890 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5890, dtype: object
5891 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5891, dtype: object
5892 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5892, dtype: object
5893 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5893, dtype: object
5894 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5894, dtype: object
5895 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5895, dtype: object
5896 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5896, dtype: object
5897 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5897, dtype: object
5898 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 5898, dtype: object

Name: 6233, dtype: object
6234 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6234, dtype: object
6235 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6235, dtype: object
6236 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6236, dtype: object
6237 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6237, dtype: object
6238 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6238, dtype: object
6239 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6239, dtype: object
6240 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6240, dtype: object
6241 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6241, dtype: object
6242 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6242, dtype: object
6243 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6243, dtype: object
6244 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6244, dtype: object
6245 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6245, dtype: object
6246 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6246, dtype: object
6247 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6247, dtype: object
6248 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6248, dtype: object
6249 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6249, dtype: object
6250 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6250, dtype: object
6251 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6251, dtype: object
6252 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6252, dtype: object
6253 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6253, dtype: object
6254 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6254, dtype: object
6255 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6255, dtype: object
6256 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6256, dtype: object
6257 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6257, dtype: object
6258 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 6258, dtype: object
6259 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6259, dtype: object
6260 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6260, dtype: object
6261 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6261, dtype: object
6262 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6262, dtype: object
6263 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 6263, dtype: object
6264 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6264, dtype: object
6265 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          2
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 6265, dtype: object
6266 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 6266, dtype: object
6267 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6267, dtype: object
6268 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6268, dtype: object
6269 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6269, dtype: object
6270 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6270, dtype: object
6271 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6271, dtype: object
6272 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6272, dtype: object
6273 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6273, dtype: object
6274 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6274, dtype: object
6275 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6275, dtype: object
6276 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6276, dtype: object
6277 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6277, dtype: object
6278 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6278, dtype: object
6279 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6279, dtype: object
6280 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6280, dtype: object
6281 Outcome_InhospitalMortality    Died
Outcome_LOS                      23
Outcome_ICUadmission              1
Outcome_ICULOS                   18
Name: 6281, dtype: object
6282 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6282, dtype: object
6283 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6283, dtype: object
6284 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6284, dtype: object
6285 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6285, dtype: object
6286 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6286, dtype: object
6287 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6287, dtype: object
6288 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6288, dtype: object
6289 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6289, dtype: object
6290 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6290, dtype: object
6291 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6291, dtype: object
6292 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6292, dtype: object
6293 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6293, dtype: object
6294 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6294, dtype: object
6295 Outcome_InhospitalMortality    Survived
Outcome_LOS                          52
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 6295, dtype: object
6296 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6296, dtype: object
6297 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 6297, dtype: object
6298 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6298, dtype: object
6299 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6299, dtype: object
6300 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 6300, dtype: object
6301 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6301, dtype: object
6302 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6302, dtype: object
6303 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6303, dtype: object
6304 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6304, dtype: object
6305 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 6305, dtype: object
6306 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6306, dtype: object
6307 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6307, dtype: object
6308 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 6308, dtype: object
6309 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6309, dtype: object
6310 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6310, dtype: object
6311 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6311, dtype: object
6312 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6312, dtype: object
6313 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6313, dtype: object
6314 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6314, dtype: object
6315 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6315, dtype: object
6316 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6316, dtype: object
6317 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6317, dtype: object
6318 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6318, dtype: object
6319 Outcome_InhospitalMortality    Survived
Outcome_LOS                          27
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 6319, dtype: object
6320 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6320, dtype: object
6321 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6321, dtype: object
6322 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6322, dtype: object
6323 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6323, dtype: object
6324 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6324, dtype: object
6325 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6325, dtype: object
6326 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6326, dtype: object
6327 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6327, dtype: object
6328 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6328, dtype: object
6329 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6329, dtype: object
6330 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   10
Name: 6330, dtype: object
6331 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6331, dtype: object
6332 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6332, dtype: object
6333 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6333, dtype: object
6334 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6334, dtype: object
6335 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6335, dtype: object
6336 Outcome_InhospitalMortality    Died
Outcome_LOS                      62
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6336, dtype: object
6337 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6337, dtype: object
6338 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6338, dtype: object
6339 Outcome_InhospitalMortality    Died
Outcome_LOS                       3

6645 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6645, dtype: object
6646 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6646, dtype: object
6647 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6647, dtype: object
6648 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6648, dtype: object
6649 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6649, dtype: object
6650 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6650, dtype: object
6651 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6651, dtype: object
6652 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6652, dtype: object
6653 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6653, dtype: object
6654 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6654, dtype: object
6655 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6655, dtype: object
6656 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6656, dtype: object
6657 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6657, dtype: object
6658 Outcome_InhospitalMortality    Survived
Outcome_LOS                          27
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6658, dtype: object
6659 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6659, dtype: object
6660 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6660, dtype: object
6661 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6661, dtype: object
6662 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6662, dtype: object
6663 Outcome_InhospitalMortality    Survived
Outcome_LOS                          32
Outcome_ICUadmission                  1
Outcome_ICULOS                       25
Name: 6663, dtype: object
6664 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6664, dtype: object
6665 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6665, dtype: object
6666 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 6666, dtype: object
6667 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 6667, dtype: object
6668 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  1
Outcome_ICULOS                       19
Name: 6668, dtype: object
6669 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6669, dtype: object
6670 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6670, dtype: object
6671 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6671, dtype: object
6672 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6672, dtype: object
6673 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6673, dtype: object
6674 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6674, dtype: object
6675 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6675, dtype: object
6676 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6676, dtype: object
6677 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6677, dtype: object
6678 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6678, dtype: object
6679 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6679, dtype: object
6680 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6680, dtype: object
6681 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6681, dtype: object
6682 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6682, dtype: object
6683 Outcome_InhospitalMortality    Died
Outcome_LOS                      25
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 6683, dtype: object
6684 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6684, dtype: object
6685 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6685, dtype: object
6686 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6686, dtype: object
6687 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6687, dtype: object
6688 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6688, dtype: object
6689 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 6689, dtype: object
6690 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 6690, dtype: object
6691 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6691, dtype: object
6692 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6692, dtype: object
6693 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 6693, dtype: object
6694 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6694, dtype: object
6695 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6695, dtype: object
6696 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6696, dtype: object
6697 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6697, dtype: object
6698 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6698, dtype: object
6699 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6699, dtype: object
6700 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6700, dtype: object
6701 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6701, dtype: object
6702 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6702, dtype: object
6703 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6703, dtype: object
6704 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6704, dtype: object
6705 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6705, dtype: object
6706 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6706, dtype: object
6707 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6707, dtype: object
6708 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        2
Name: 6708, dtype: object
6709 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6709, dtype: object
6710 Outcome_InhospitalMortality    Died
Outcome_LOS                      24
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6710, dtype: object
6711 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6711, dtype: object
6712 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 6712, dtype: object
6713 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6713, dtype: object
6714 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6714, dtype: object
6715 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6715, dtype: object
6716 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6716, dtype: object
6717 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6717, dtype: object
6718 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6718, dtype: object
6719 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6719, dtype: object
6720 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                       17
Name: 6720, dtype: object
6721 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6721, dtype: object
6722 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6722, dtype: object
6723 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6723, dtype: object
6724 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 6724, dtype: object
6725 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 6725, dtype: object
6726 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6726, dtype: object
6727 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 6727, dtype: object
6728 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 6728, dtype: object
6729 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6729, dtype: object
6730 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6730, dtype: object
6731 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6731, dtype: object
6732 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6732, dtype: object
6733 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6733, dtype: object
6734 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6734, dtype: object
6735 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6735, dtype: object
6736 Outcome_InhospitalMortality    Survived
Outcome_LOS                          26
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6736, dtype: object
6737 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 6737, dtype: object
6738 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6738, dtype: object
6739 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6739, dtype: object
6740 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 6740, dtype: object
6741 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6741, dtype: object
6742 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6742, dtype: object
6743 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 6743, dtype: object
6744 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6744, dtype: object
6745 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6745, dtype: object
6746 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6746, dtype: object
6747 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6747, dtype: object
6748 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6748, dtype: object
6749 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 6749, dtype: object
6750 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 6750, dtype: object
6751 Outcome_InhospitalMortality    Survived

7085 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7085, dtype: object
7086 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7086, dtype: object
7087 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 7087, dtype: object
7088 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7088, dtype: object
7089 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 7089, dtype: object
7090 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7090, dtype: object
7091 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7091, dtype: object
7092 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 7092, dtype: object
7093 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7093, dtype: object
7094 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7094, dtype: object
7095 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7095, dtype: object
7096 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 7096, dtype: object
7097 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                        6
Name: 7097, dtype: object
7098 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7098, dtype: object
7099 Outcome_InhospitalMortality    Survived
Outcome_LOS                          25
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7099, dtype: object
7100 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7100, dtype: object
7101 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7101, dtype: object
7102 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 7102, dtype: object
7103 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7103, dtype: object
7104 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7104, dtype: object
7105 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7105, dtype: object
7106 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7106, dtype: object
7107 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7107, dtype: object
7108 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7108, dtype: object
7109 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7109, dtype: object
7110 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7110, dtype: object
7111 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7111, dtype: object
7112 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 7112, dtype: object
7113 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7113, dtype: object
7114 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7114, dtype: object
7115 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7115, dtype: object
7116 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 7116, dtype: object
7117 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 7117, dtype: object
7118 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7118, dtype: object
7119 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7119, dtype: object
7120 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7120, dtype: object
7121 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 7121, dtype: object
7122 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 7122, dtype: object
7123 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7123, dtype: object
7124 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7124, dtype: object
7125 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7125, dtype: object
7126 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7126, dtype: object
7127 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7127, dtype: object
7128 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7128, dtype: object
7129 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7129, dtype: object
7130 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7130, dtype: object
7131 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7131, dtype: object
7132 Outcome_InhospitalMortality    Survived
Outcome_LOS                          27
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 7132, dtype: object
7133 Outcome_InhospitalMortality    Survived
Outcome_LOS                          26
Outcome_ICUadmission                  1
Outcome_ICULOS                       13
Name: 7133, dtype: object
7134 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7134, dtype: object
7135 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7135, dtype: object
7136 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7136, dtype: object
7137 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 7137, dtype: object
7138 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7138, dtype: object
7139 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7139, dtype: object
7140 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7140, dtype: object
7141 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                    5
Name: 7141, dtype: object
7142 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7142, dtype: object
7143 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7143, dtype: object
7144 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7144, dtype: object
7145 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 7145, dtype: object
7146 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7146, dtype: object
7147 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7147, dtype: object
7148 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7148, dtype: object
7149 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7149, dtype: object
7150 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7150, dtype: object
7151 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7151, dtype: object
7152 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7152, dtype: object
7153 Outcome_InhospitalMortality    Died
Outcome_LOS                      25
Outcome_ICUadmission              1
Outcome_ICULOS                   15
Name: 7153, dtype: object
7154 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 7154, dtype: object
7155 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7155, dtype: object
7156 Outcome_InhospitalMortality    Died
Outcome_LOS                      54
Outcome_ICUadmission              1
Outcome_ICULOS                   13
Name: 7156, dtype: object
7157 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 7157, dtype: object
7158 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 7158, dtype: object
7159 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          3
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 7159, dtype: object
7160 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7160, dtype: object
7161 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7161, dtype: object
7162 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7162, dtype: object
7163 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7163, dtype: object
7164 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 7164, dtype: object
7165 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7165, dtype: object
7166 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7166, dtype: object
7167 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7167, dtype: object
7168 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7168, dtype: object
7169 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7169, dtype: object
7170 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7170, dtype: object
7171 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7171, dtype: object
7172 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 7172, dtype: object
7173 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 7173, dtype: object
7174 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7174, dtype: object
7175 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7175, dtype: object
7176 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7176, dtype: object
7177 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  1
Outcome_ICULOS                        8
Name: 7177, dtype: object
7178 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7178, dtype: object
7179 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7179, dtype: object
7180 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7180, dtype: object
7181 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7181, dtype: object
7182 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7182, dtype: object
7183 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7183, dtype: object
7184 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7184, dtype: object
7185 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7185, dtype: object
7186 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 7186, dtype: object
7187 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7187, dtype: object
7188 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7188, dtype: object
7189 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7189, dtype: object
7190 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7190, dtype: object
7191 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0

Name: 7528, dtype: object
7529 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7529, dtype: object
7530 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7530, dtype: object
7531 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7531, dtype: object
7532 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7532, dtype: object
7533 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7533, dtype: object
7534 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7534, dtype: object
7535 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7535, dtype: object
7536 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7536, dtype: object
7537 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7537, dtype: object
7538 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7538, dtype: object
7539 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7539, dtype: object
7540 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7540, dtype: object
7541 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  1
Outcome_ICULOS                        1
Name: 7541, dtype: object
7542 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7542, dtype: object
7543 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7543, dtype: object
7544 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7544, dtype: object
7545 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7545, dtype: object
7546 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7546, dtype: object
7547 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7547, dtype: object
7548 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7548, dtype: object
7549 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7549, dtype: object
7550 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7550, dtype: object
7551 Outcome_InhospitalMortality    Survived
Outcome_LOS                          35
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7551, dtype: object
7552 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7552, dtype: object
7553 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7553, dtype: object
7554 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7554, dtype: object
7555 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7555, dtype: object
7556 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7556, dtype: object
7557 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7557, dtype: object
7558 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 7558, dtype: object
7559 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7559, dtype: object
7560 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7560, dtype: object
7561 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                        7
Name: 7561, dtype: object
7562 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7562, dtype: object
7563 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7563, dtype: object
7564 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7564, dtype: object
7565 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7565, dtype: object
7566 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7566, dtype: object
7567 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7567, dtype: object
7568 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7568, dtype: object
7569 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7569, dtype: object
7570 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7570, dtype: object
7571 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7571, dtype: object
7572 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7572, dtype: object
7573 Outcome_InhospitalMortality    Died
Outcome_LOS                      27
Outcome_ICUadmission              1
Outcome_ICULOS                   21
Name: 7573, dtype: object
7574 Outcome_InhospitalMortality    Survived
Outcome_LOS                          24
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7574, dtype: object
7575 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7575, dtype: object
7576 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7576, dtype: object
7577 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7577, dtype: object
7578 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7578, dtype: object
7579 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7579, dtype: object
7580 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7580, dtype: object
7581 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7581, dtype: object
7582 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 7582, dtype: object
7583 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7583, dtype: object
7584 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7584, dtype: object
7585 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7585, dtype: object
7586 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7586, dtype: object
7587 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7587, dtype: object
7588 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7588, dtype: object
7589 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7589, dtype: object
7590 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  1
Outcome_ICULOS                        6
Name: 7590, dtype: object
7591 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7591, dtype: object
7592 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7592, dtype: object
7593 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7593, dtype: object
7594 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   13
Name: 7594, dtype: object
7595 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7595, dtype: object
7596 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7596, dtype: object
7597 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7597, dtype: object
7598 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7598, dtype: object
7599 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7599, dtype: object
7600 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7600, dtype: object
7601 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7601, dtype: object
7602 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 7602, dtype: object
7603 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7603, dtype: object
7604 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7604, dtype: object
7605 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7605, dtype: object
7606 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7606, dtype: object
7607 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7607, dtype: object
7608 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7608, dtype: object
7609 Outcome_InhospitalMortality    Survived
Outcome_LOS                          34
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7609, dtype: object
7610 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7610, dtype: object
7611 Outcome_InhospitalMortality    Survived
Outcome_LOS                          36
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7611, dtype: object
7612 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 7612, dtype: object
7613 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7613, dtype: object
7614 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7614, dtype: object
7615 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7615, dtype: object
7616 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7616, dtype: object
7617 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7617, dtype: object
7618 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7618, dtype: object
7619 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7619, dtype: object
7620 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7620, dtype: object
7621 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7621, dtype: object
7622 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 7622, dtype: object
7623 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7623, dtype: object
7624 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7624, dtype: object
7625 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7625, dtype: object
7626 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7626, dtype: object
7627 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7627, dtype: object
7628 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7628, dtype: object
7629 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7629, dtype: object
7630 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7630, dtype: object
7631 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7631, dtype: object
7632 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7632, dtype: object
7633 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7633, dtype: object
7634 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7634, dtype: object
7635 Outcome_InhospitalMortality    Died
Outcome_LOS                      12

Name: 7963, dtype: object
7964 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 7964, dtype: object
7965 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7965, dtype: object
7966 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 7966, dtype: object
7967 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7967, dtype: object
7968 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7968, dtype: object
7969 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7969, dtype: object
7970 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  1
Outcome_ICULOS                        3
Name: 7970, dtype: object
7971 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7971, dtype: object
7972 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7972, dtype: object
7973 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7973, dtype: object
7974 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7974, dtype: object
7975 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7975, dtype: object
7976 Outcome_InhospitalMortality    Survived
Outcome_LOS                          46
Outcome_ICUadmission                  1
Outcome_ICULOS                       44
Name: 7976, dtype: object
7977 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7977, dtype: object
7978 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7978, dtype: object
7979 Outcome_InhospitalMortality    Died
Outcome_LOS                      16
Outcome_ICUadmission              1
Outcome_ICULOS                   14
Name: 7979, dtype: object
7980 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7980, dtype: object
7981 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7981, dtype: object
7982 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7982, dtype: object
7983 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7983, dtype: object
7984 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7984, dtype: object
7985 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7985, dtype: object
7986 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7986, dtype: object
7987 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7987, dtype: object
7988 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7988, dtype: object
7989 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7989, dtype: object
7990 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 7990, dtype: object
7991 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7991, dtype: object
7992 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7992, dtype: object
7993 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7993, dtype: object
7994 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 7994, dtype: object
7995 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7995, dtype: object
7996 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7996, dtype: object
7997 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7997, dtype: object
7998 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 7998, dtype: object
7999 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 7999, dtype: object
8000 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  1
Outcome_ICULOS                        4
Name: 8000, dtype: object
8001 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8001, dtype: object
8002 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8002, dtype: object
8003 Outcome_InhospitalMortality    Survived
Outcome_LOS                          26
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8003, dtype: object
8004 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8004, dtype: object
8005 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8005, dtype: object
8006 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8006, dtype: object
8007 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8007, dtype: object
8008 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8008, dtype: object
8009 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8009, dtype: object
8010 Outcome_InhospitalMortality    Died
Outcome_LOS                       7
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 8010, dtype: object
8011 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8011, dtype: object
8012 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8012, dtype: object
8013 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8013, dtype: object
8014 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8014, dtype: object
8015 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8015, dtype: object
8016 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8016, dtype: object
8017 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8017, dtype: object
8018 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8018, dtype: object
8019 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8019, dtype: object
8020 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8020, dtype: object
8021 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8021, dtype: object
8022 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8022, dtype: object
8023 Outcome_InhospitalMortality    Survived
Outcome_LOS                          42
Outcome_ICUadmission                  1
Outcome_ICULOS                       26
Name: 8023, dtype: object
8024 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8024, dtype: object
8025 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8025, dtype: object
8026 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8026, dtype: object
8027 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8027, dtype: object
8028 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8028, dtype: object
8029 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8029, dtype: object
8030 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                    7
Name: 8030, dtype: object
8031 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8031, dtype: object
8032 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8032, dtype: object
8033 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8033, dtype: object
8034 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8034, dtype: object
8035 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8035, dtype: object
8036 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 8036, dtype: object
8037 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8037, dtype: object
8038 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 8038, dtype: object
8039 Outcome_InhospitalMortality    Survived
Outcome_LOS                          16
Outcome_ICUadmission                  1
Outcome_ICULOS                        9
Name: 8039, dtype: object
8040 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8040, dtype: object
8041 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                       10
Name: 8041, dtype: object
8042 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 8042, dtype: object
8043 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8043, dtype: object
8044 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8044, dtype: object
8045 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8045, dtype: object
8046 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8046, dtype: object
8047 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8047, dtype: object
8048 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 8048, dtype: object
8049 Outcome_InhospitalMortality    Died
Outcome_LOS                      33
Outcome_ICUadmission              1
Outcome_ICULOS                   25
Name: 8049, dtype: object
8050 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8050, dtype: object
8051 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 8051, dtype: object
8052 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8052, dtype: object
8053 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8053, dtype: object
8054 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8054, dtype: object
8055 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 8055, dtype: object
8056 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8056, dtype: object
8057 Outcome_InhospitalMortality    Died
Outcome_LOS                      26
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8057, dtype: object
8058 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8058, dtype: object
8059 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  1
Outcome_ICULOS                        5
Name: 8059, dtype: object
8060 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8060, dtype: object
8061 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8061, dtype: object
8062 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8062, dtype: object
8063 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8063, dtype: object
8064 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8064, dtype: object
8065 Outcome_InhospitalMortality    Died
Outcome_LOS                       8
Outcome_ICUadmission              1
Outcome_ICULOS                    6
Name: 8065, dtype: object
8066 Outcome_InhospitalMortality    Died
Outcome_LOS                      13
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 8066, dtype: object
8067 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8067, dtype: object
8068 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 8068, dtype: object
8069 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8069, dtype: object
8070 Outcome_InhospitalMortality    Survived

8401 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8401, dtype: object
8402 Outcome_InhospitalMortality    Died
Outcome_LOS                      20
Outcome_ICUadmission              1
Outcome_ICULOS                   12
Name: 8402, dtype: object
8403 Outcome_InhospitalMortality    Died
Outcome_LOS                      24
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8403, dtype: object
8404 Outcome_InhospitalMortality    Died
Outcome_LOS                      22
Outcome_ICUadmission              1
Outcome_ICULOS                   21
Name: 8404, dtype: object
8405 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8405, dtype: object
8406 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8406, dtype: object
8407 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8407, dtype: object
8408 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8408, dtype: object
8409 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8409, dtype: object
8410 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8410, dtype: object
8411 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8411, dtype: object
8412 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8412, dtype: object
8413 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8413, dtype: object
8414 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8414, dtype: object
8415 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          1
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 8415, dtype: object
8416 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8416, dtype: object
8417 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8417, dtype: object
8418 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8418, dtype: object
8419 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8419, dtype: object
8420 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8420, dtype: object
8421 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8421, dtype: object
8422 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8422, dtype: object
8423 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8423, dtype: object
8424 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8424, dtype: object
8425 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8425, dtype: object
8426 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8426, dtype: object
8427 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8427, dtype: object
8428 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8428, dtype: object
8429 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8429, dtype: object
8430 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8430, dtype: object
8431 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8431, dtype: object
8432 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8432, dtype: object
8433 Outcome_InhospitalMortality    Unknown
Outcome_LOS                          2
Outcome_ICUadmission                 0
Outcome_ICULOS                       0
Name: 8433, dtype: object
8434 Outcome_InhospitalMortality    Survived
Outcome_LOS                          23
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8434, dtype: object
8435 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8435, dtype: object
8436 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8436, dtype: object
8437 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8437, dtype: object
8438 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8438, dtype: object
8439 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8439, dtype: object
8440 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8440, dtype: object
8441 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8441, dtype: object
8442 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8442, dtype: object
8443 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8443, dtype: object
8444 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8444, dtype: object
8445 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8445, dtype: object
8446 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8446, dtype: object
8447 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8447, dtype: object
8448 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8448, dtype: object
8449 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8449, dtype: object
8450 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8450, dtype: object
8451 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8451, dtype: object
8452 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8452, dtype: object
8453 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8453, dtype: object
8454 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8454, dtype: object
8455 Outcome_InhospitalMortality    Died
Outcome_LOS                       6
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8455, dtype: object
8456 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8456, dtype: object
8457 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8457, dtype: object
8458 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8458, dtype: object
8459 Outcome_InhospitalMortality    Died
Outcome_LOS                      14
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8459, dtype: object
8460 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8460, dtype: object
8461 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8461, dtype: object
8462 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8462, dtype: object
8463 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8463, dtype: object
8464 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8464, dtype: object
8465 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8465, dtype: object
8466 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8466, dtype: object
8467 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 8467, dtype: object
8468 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8468, dtype: object
8469 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8469, dtype: object
8470 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8470, dtype: object
8471 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8471, dtype: object
8472 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8472, dtype: object
8473 Outcome_InhospitalMortality    Survived
Outcome_LOS                           0
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8473, dtype: object
8474 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8474, dtype: object
8475 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8475, dtype: object
8476 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8476, dtype: object
8477 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8477, dtype: object
8478 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8478, dtype: object
8479 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8479, dtype: object
8480 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8480, dtype: object
8481 Outcome_InhospitalMortality    Died
Outcome_LOS                      11
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8481, dtype: object
8482 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8482, dtype: object
8483 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8483, dtype: object
8484 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8484, dtype: object
8485 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8485, dtype: object
8486 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8486, dtype: object
8487 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8487, dtype: object
8488 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8488, dtype: object
8489 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8489, dtype: object
8490 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8490, dtype: object
8491 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8491, dtype: object
8492 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8492, dtype: object
8493 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8493, dtype: object
8494 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 8494, dtype: object
8495 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8495, dtype: object
8496 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8496, dtype: object
8497 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8497, dtype: object
8498 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8498, dtype: object
8499 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8499, dtype: object
8500 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8500, dtype: object
8501 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8501, dtype: object
8502 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8502, dtype: object
8503 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8503, dtype: object
8504 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8504, dtype: object
8505 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8505, dtype: object
8506 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0

8851 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8851, dtype: object
8852 Outcome_InhospitalMortality    Died
Outcome_LOS                      24
Outcome_ICUadmission              1
Outcome_ICULOS                   23
Name: 8852, dtype: object
8853 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8853, dtype: object
8854 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8854, dtype: object
8855 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8855, dtype: object
8856 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8856, dtype: object
8857 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8857, dtype: object
8858 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8858, dtype: object
8859 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8859, dtype: object
8860 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8860, dtype: object
8861 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8861, dtype: object
8862 Outcome_InhospitalMortality    Died
Outcome_LOS                       5
Outcome_ICUadmission              1
Outcome_ICULOS                    4
Name: 8862, dtype: object
8863 Outcome_InhospitalMortality    Died
Outcome_LOS                       9
Outcome_ICUadmission              1
Outcome_ICULOS                    8
Name: 8863, dtype: object
8864 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8864, dtype: object
8865 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8865, dtype: object
8866 Outcome_InhospitalMortality    Died
Outcome_LOS                      18
Outcome_ICUadmission              1
Outcome_ICULOS                   17
Name: 8866, dtype: object
8867 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8867, dtype: object
8868 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8868, dtype: object
8869 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8869, dtype: object
8870 Outcome_InhospitalMortality    Survived
Outcome_LOS                          21
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8870, dtype: object
8871 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8871, dtype: object
8872 Outcome_InhospitalMortality    Survived
Outcome_LOS                          13
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8872, dtype: object
8873 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8873, dtype: object
8874 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8874, dtype: object
8875 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8875, dtype: object
8876 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8876, dtype: object
8877 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8877, dtype: object
8878 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8878, dtype: object
8879 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8879, dtype: object
8880 Outcome_InhospitalMortality    Died
Outcome_LOS                      24
Outcome_ICUadmission              1
Outcome_ICULOS                   23
Name: 8880, dtype: object
8881 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8881, dtype: object
8882 Outcome_InhospitalMortality    Died
Outcome_LOS                      17
Outcome_ICUadmission              1
Outcome_ICULOS                   16
Name: 8882, dtype: object
8883 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8883, dtype: object
8884 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8884, dtype: object
8885 Outcome_InhospitalMortality    Survived
Outcome_LOS                          15
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8885, dtype: object
8886 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8886, dtype: object
8887 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8887, dtype: object
8888 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8888, dtype: object
8889 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8889, dtype: object
8890 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8890, dtype: object
8891 Outcome_InhospitalMortality    Survived
Outcome_LOS                          12
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8891, dtype: object
8892 Outcome_InhospitalMortality    Survived
Outcome_LOS                          17
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8892, dtype: object
8893 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 8893, dtype: object
8894 Outcome_InhospitalMortality    Survived
Outcome_LOS                          34
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8894, dtype: object
8895 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8895, dtype: object
8896 Outcome_InhospitalMortality    Survived
Outcome_LOS                          19
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8896, dtype: object
8897 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8897, dtype: object
8898 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8898, dtype: object
8899 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8899, dtype: object
8900 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8900, dtype: object
8901 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8901, dtype: object
8902 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8902, dtype: object
8903 Outcome_InhospitalMortality    Survived
Outcome_LOS                          14
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8903, dtype: object
8904 Outcome_InhospitalMortality    Died
Outcome_LOS                       2
Outcome_ICUadmission              1
Outcome_ICULOS                    1
Name: 8904, dtype: object
8905 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8905, dtype: object
8906 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8906, dtype: object
8907 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8907, dtype: object
8908 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8908, dtype: object
8909 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8909, dtype: object
8910 Outcome_InhospitalMortality    Died
Outcome_LOS                       1
Outcome_ICUadmission              0
Outcome_ICULOS                    0
Name: 8910, dtype: object
8911 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8911, dtype: object
8912 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8912, dtype: object
8913 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8913, dtype: object
8914 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8914, dtype: object
8915 Outcome_InhospitalMortality    Died
Outcome_LOS                       4
Outcome_ICUadmission              1
Outcome_ICULOS                    3
Name: 8915, dtype: object
8916 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 8916, dtype: object
8917 Outcome_InhospitalMortality    Died
Outcome_LOS                      15
Outcome_ICUadmission              1
Outcome_ICULOS                   14
Name: 8917, dtype: object
8918 Outcome_InhospitalMortality    Died
Outcome_LOS                       3
Outcome_ICUadmission              1
Outcome_ICULOS                    2
Name: 8918, dtype: object
8919 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8919, dtype: object
8920 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8920, dtype: object
8921 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8921, dtype: object
8922 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8922, dtype: object
8923 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8923, dtype: object
8924 Outcome_InhospitalMortality    Survived
Outcome_LOS                          22
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8924, dtype: object
8925 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8925, dtype: object
8926 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8926, dtype: object
8927 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8927, dtype: object
8928 Outcome_InhospitalMortality    Died
Outcome_LOS                      12
Outcome_ICUadmission              1
Outcome_ICULOS                   11
Name: 8928, dtype: object
8929 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8929, dtype: object
8930 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8930, dtype: object
8931 Outcome_InhospitalMortality    Survived
Outcome_LOS                          11
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8931, dtype: object
8932 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8932, dtype: object
8933 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8933, dtype: object
8934 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8934, dtype: object
8935 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8935, dtype: object
8936 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8936, dtype: object
8937 Outcome_InhospitalMortality    Survived
Outcome_LOS                           2
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8937, dtype: object
8938 Outcome_InhospitalMortality    Survived
Outcome_LOS                          18
Outcome_ICUadmission                  1
Outcome_ICULOS                       17
Name: 8938, dtype: object
8939 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8939, dtype: object
8940 Outcome_InhospitalMortality    Died
Outcome_LOS                      10
Outcome_ICUadmission              1
Outcome_ICULOS                    9
Name: 8940, dtype: object
8941 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8941, dtype: object
8942 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8942, dtype: object
8943 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8943, dtype: object
8944 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8944, dtype: object
8945 Outcome_InhospitalMortality    Survived
Outcome_LOS                           4
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8945, dtype: object
8946 Outcome_InhospitalMortality    Survived
Outcome_LOS                           6
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8946, dtype: object
8947 Outcome_InhospitalMortality    Survived
Outcome_LOS                           8
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8947, dtype: object
8948 Outcome_InhospitalMortality    Survived
Outcome_LOS                          20
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8948, dtype: object
8949 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8949, dtype: object
8950 Outcome_InhospitalMortality    Survived
Outcome_LOS                           1
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8950, dtype: object
8951 Outcome_InhospitalMortality    Survived
Outcome_LOS                           7
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8951, dtype: object
8952 Outcome_InhospitalMortality    Survived
Outcome_LOS                          10
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8952, dtype: object
8953 Outcome_InhospitalMortality    Survived
Outcome_LOS                           9
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8953, dtype: object
8954 Outcome_InhospitalMortality    Survived
Outcome_LOS                           3
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8954, dtype: object
8955 Outcome_InhospitalMortality    Died
Outcome_LOS                      21
Outcome_ICUadmission              1
Outcome_ICULOS                   20
Name: 8955, dtype: object
8956 Outcome_InhospitalMortality    Survived
Outcome_LOS                           5
Outcome_ICUadmission                  0
Outcome_ICULOS                        0
Name: 8956, dtype: object
8957 Outcome_InhospitalMortality    Died