In [119]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Train and Test sets

## Training set (imputing and normalizing)

In [120]:
df = pd.read_excel("3 - changing column names for LLM.xlsx")

In [121]:
# ooutcome columns: 1.are Outcome_InhospitalMortality 2.TM_S_Intubation  3.Outcome_ICUadmission  4.TM_S_Dialysis
df = df.dropna(subset=['Inhospital Mortality','ICU admission','Intubation','Dialysis'])

In [122]:
#inja oomadim va external validation ro freeze kardim
df_internal_validation = df[df['Patient_Hospital']!="Hospital2"]
df_external_validation = df[df['Patient_Hospital']=="Hospital2"]
df_internal_validation = df_internal_validation.drop(columns=['Patient_Hospital'])
df_external_validation = df_external_validation.drop(columns=['Patient_Hospital'])

In [123]:
#inja train test split kardim va target variable ro jodakardim
# Define features (X) and target variable (y)
X = df_external_validation.drop(columns=['Inhospital Mortality','ICU admission','Intubation','Dialysis'])
y  = df_external_validation[['Inhospital Mortality','ICU admission','Intubation','Dialysis']]
# Perform the train-test split (adjust the test_size as needed)
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size = 0.2 , random_state = 42)

In [124]:
#inja miaim va data haye categorical va numerical ro moshakhas mikonim ke bade knn categorical ha ro round konim
cat_col=[]
num_col=[]
for i in range(len(X_train.columns)):
    if i <=52:
        cat_col.append(X_train.columns[i])
    else:
        num_col.append(X_train.columns[i])

In [125]:
from sklearn.impute import KNNImputer
X_train_array  =X_train.to_numpy()
imputer = KNNImputer(n_neighbors=5, weights="uniform")
imputed = imputer.fit_transform(X_train_array)

In [126]:
df_imputed = pd.DataFrame(imputed)
df_imputed.columns=pd.DataFrame(X_train).columns.tolist()

In [127]:
for i in cat_col:
    df_imputed[[i]] = df_imputed[[i]].round()

In [128]:
df_imputed.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

In [129]:
X_train = df_imputed

## Test set (imputing and normalizing)

In [130]:
#inja miaim va data haye categorical va numerical ro moshakhas mikonim ke bade knn categorical ha ro round konim
cat_col=[]
num_col=[]
for i in range(len(X_test.columns)):
    if i <=52:
        cat_col.append(X_test.columns[i])
    else:
        num_col.append(X_test.columns[i])

In [131]:
from sklearn.impute import KNNImputer
X_test_array  =X_test.to_numpy()
imputer = KNNImputer(n_neighbors=5, weights="uniform")
imputed_test = imputer.fit_transform(X_test_array)

In [132]:
df_imputed_test = pd.DataFrame(imputed_test)
df_imputed_test.columns=pd.DataFrame(X_test).columns.tolist()

In [133]:
for i in cat_col:
    df_imputed_test[[i]] = df_imputed_test[[i]].round()

In [134]:
df_imputed_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [135]:
X_test = df_imputed_test

In [136]:
#X_test.to_excel("X_test without negative imputed for LLM.xlsx",index=False)

In [137]:
import pandas as pd

#data = pd.read_excel("X_test without negative imputed for LLM.xlsx")

data = X_train
df = data



# Replace values based on conditions
df['O2 saturation without supply'] = df['O2 saturation without supply'].apply(lambda x: 'normal' if  x >= 95 else 'Lower' )
df['pulse rate'] = df['pulse rate'].apply(lambda x: 'Higher' if  x > 80 else ('Lower' if x <= 60 else 'Normal'))
df['diastolic Blood pressure'] = df['diastolic Blood pressure'].apply(lambda x: 'Higher' if x >= 80 else 'normal')
df['Systolic Blood pressure'] = df['Systolic Blood pressure'].apply(lambda x: 'Higher' if x >= 120 else 'normal')
df['respiratory rate'] = df['respiratory rate'].apply(lambda x: 'Higher' if x >= 18 else ('Lower' if x <= 12 else 'Normal'))
df['Temperature'] = df['Temperature'].apply(lambda x: 'Higher' if x >= 37.2 else ('Lower' if x <= 36.1 else 'Normal'))
df['WBC'] = df['WBC'].apply(lambda x: 'Higher' if x >= 9.5 else ('Lower' if x <= 3.5 else 'Normal'))
df[' Lymphocyte count'] = df[' Lymphocyte count'].apply(lambda x: 'Higher' if x >= 50 else ('Lower' if x <= 20 else 'Normal'))
df[' Neutrophils percentage'] = df[' Neutrophils percentage'].apply(lambda x: 'Higher' if  x >= 75 else ('Lower' if x <= 40 else 'Normal'))
df['Platelets '] = df['Platelets '].apply(lambda x: 'Higher' if  x >= 450 else ('Lower' if x <= 150 else 'Normal'))
df['Hemoglobin'] = df['Hemoglobin'].apply(lambda x: 'Higher' if  x >= 17 else ('Lower' if x <= 13 else 'Normal'))
df['MCV'] = df['MCV'].apply(lambda x: 'Higher' if  x >= 100 else ('Lower' if x <= 80 else 'Normal'))
df['CR'] = df['CR'].apply(lambda x: 'Higher' if  x >= 1.2 else ('Lower' if x <= 0.5 else 'Normal'))
df['sodium'] = df['sodium'].apply(lambda x: 'Higher' if  x >= 145 else ('Lower' if x <= 135 else 'Normal'))
df['potassium'] = df['potassium'].apply(lambda x: 'Higher' if  x >= 5.1 else ('Lower' if x <= 3.5 else 'Normal'))
df['alkaline phosphatase'] = df['alkaline phosphatase'].apply(lambda x: 'Higher' if  x >= 147 else ('Lower' if x <= 44 else 'Normal'))
df['ESR'] = df['ESR'].apply(lambda x: 'Lower' if  x <= 15 else 'Higher' )
df['CPK'] = df['CPK'].apply(lambda x: 'Lower' if  x <= 200 else 'Higher' )
df['PTT'] = df['PTT'].apply(lambda x: 'Higher' if  x >= 40 else ('Lower' if x <= 30 else 'Normal'))
df['PT'] = df['PT'].apply(lambda x: 'Higher' if  x >= 12.5 else ('Lower' if x <= 11 else 'Normal'))

In [138]:
pd.DataFrame(df)
main_xtrain = df

# یبار بیاییم و یه دیتاست با فقط اون هایی که پرزنت هستند بسازیم و یبار هم با اونا و هم با اونایی که پرزنت نیستن

# gender and blood group

In [139]:
main_xtrain["Gender"] = main_xtrain["Gender"].replace(0 , "female")
main_xtrain["Gender"] = main_xtrain["Gender"].replace(1 , "male")

In [140]:
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(0 , "(A)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(1 , "(B)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(2 , "(O)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(3 , "(AB)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(4 , "(A+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(5 , "(A-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(6 , "(B+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(7 , "(B-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(8 , "(AB+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(9 , "(AB-)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(10 , "(O+)")
main_xtrain["Blood Group"] = main_xtrain["Blood Group"].replace(11 , "(O-)")
main_xtrain["Blood Group"] = "blood group is "+main_xtrain["Blood Group"]+". "

In [141]:
main_xtrain["Blood Group& gender"]  = main_xtrain["Gender"]+". "+main_xtrain["Blood Group"]

# Symptomps

In [142]:
df.loc[: , 'Caugh':'Hemiparesia' ]
# symptomps

df =pd.DataFrame(df.loc[: , 'Caugh':'Hemiparesia' ])
# Initialize an empty list to store the output strings for each row
output_strings = []

# Iterate through the rows of the DataFrame
for index, row in df.iterrows():
    present = [col for col in row.index if row[col] == 1]
    not_present = [col for col in row.index if row[col] == 0]
    present_str = "present symptoms are: "+", ".join(present)  if present else ""

    result_str = f"{present_str}. "
    output_strings.append(result_str)

# Add the output strings as a new column in the DataFrame
main_xtrain['symptomps'] = output_strings

# Display the resulting DataFrame
print(main_xtrain['symptomps'])

0              present symptoms are: Weakness, Diarhhea.
1        present symptoms are: Caugh, Dyspnea, Weakness.
2                                                      .
3                       present symptoms are: ChestPain.
4          present symptoms are: nausea/Vomit, Anorexia.
                              ...
1122       present symptoms are: Dyspnea, Fever, Chiver.
1123                      present symptoms are: Dyspnea.
1124    present symptoms are: Caugh, Fever, Chiver, We...
1125    present symptoms are: Caugh, Dyspnea, Fever, M...
1126                      present symptoms are: Dyspnea.
Name: symptomps, Length: 1127, dtype: object

# Past medical history

In [143]:
df = main_xtrain

#Past Medical History

df =pd.DataFrame(df.loc[: , 'Pregnancy':'Alzhimer' ])
# Initialize an empty list to store the output strings for each row
output_strings = []

# Iterate through the rows of the DataFrame
for index, row in df.iterrows():
    present = [col for col in row.index if row[col] == 1]
    not_present = [col for col in row.index if row[col] == 0]
    present_str = "past medical history: "+", ".join(present)  if present else ""

    result_str = f"{present_str}. "
    output_strings.append(result_str)

# Add the output strings as a new column in the DataFrame
main_xtrain['Past medical history'] = output_strings

# Display the resulting DataFrame
print(main_xtrain[['Past medical history']])

                                   Past medical history
0                        past medical history: Anemia.
1                                                    .
2     past medical history: hypertension, diabetes m...
3     past medical history: Curremt Smoker, hyperten...
4     past medical history: Chronic kidney disease, ...
...                                                 ...
1122  past medical history: Curremt Smoker, Alcohol ...
1123          past medical history: diabetes mellitus.
1124  past medical history: hypertension, ischemic h...
1125  past medical history: hypertension, diabetes m...
1126  past medical history: Curremt Smoker, Opium us...

[1127 rows x 1 columns]

In [144]:
main_xtrain = main_xtrain.loc[: , 'symptom to referral':'Past medical history']

In [145]:
main_xtrain['symptom to referral'] = "The time from symptom onset to referral spans " + main_xtrain['symptom to referral'].astype(str) + " days."

# lab test

In [146]:


df = pd.DataFrame(main_xtrain.loc[: , 'O2 saturation without supply': 'PT'])

def create_custom_string(row):
    custom_strings = []
    for col in row.index:
        if row[col] == "Normal":
            custom_strings.append(f"{col} is in normal range. ")
        else:
            custom_strings.append(f"{col} is lower than normal range. " if row[col] == "Lower" else f"{col} is higher than normal range.")
    return " ".join(custom_strings)

df["labratory data"] = df.apply(create_custom_string, axis=1)

main_xtrain["labratory data"] = df["labratory data"]

In [147]:
main_xtrain = main_xtrain.loc[: , 'Age': 'labratory data']

# Age

In [148]:
main_xtrain["Age"]= "age is "+main_xtrain["Age"].astype(str)+ " years. "

# mortality

In [149]:
y_train = y_train
mortality = []
for i in y_train.loc[: ,"Inhospital Mortality"]:
    if i == 1.0:
        mortality.append('survives')
    else:
        mortality.append('dies')

y_train.loc[: ,"Inhospital Mortality"] = mortality

In [150]:
y_train

     Inhospital Mortality  ICU admission  Intubation  Dialysis
0                    dies              0           1         0
1                survives              0           0         0
2                survives              0           0         0
3                survives              0           0         0
4                survives              0           0         0
...                   ...            ...         ...       ...
1122                 dies              1           1         0
1123             survives              0           0         0
1124             survives              0           0         0
1125                 dies              0           0         0
1126             survives              0           0         0

[1127 rows x 4 columns]

In [151]:
y_train_mortality = y_train.loc[: ,"Inhospital Mortality"]

In [152]:
y_train_mortality = pd.DataFrame(y_train_mortality)

In [153]:
main_xtrain= pd.concat([main_xtrain , y_train_mortality], axis=1)

In [154]:
main_xtrain["patient medical hidtory"] = main_xtrain["Age"]+" "+main_xtrain["Blood Group& gender"]+" "+main_xtrain["symptomps"]+" "+ main_xtrain["Past medical history"]+" "+main_xtrain["labratory data"]

In [155]:
final_train_dataset = pd.concat([main_xtrain["patient medical hidtory"], y_train_mortality] , axis=1)

In [156]:
final_train_dataset

                                patient medical hidtory Inhospital Mortality
0     age is 65.0 years.  female. blood group is (AB...                 dies
1     age is 62.0 years.  female. blood group is (AB...             survives
2     age is 63.0 years.  male. blood group is (AB+)...             survives
3     age is 65.0 years.  male. blood group is (B-)....             survives
4     age is 57.0 years.  male. blood group is (B+)....             survives
...                                                 ...                  ...
1122  age is 49.0 years.  male. blood group is (B-)....                 dies
1123  age is 47.0 years.  male. blood group is (AB-)...             survives
1124  age is 75.0 years.  female. blood group is (B-...             survives
1125  age is 53.0 years.  male. blood group is (B+)....                 dies
1126  age is 43.0 years.  male. blood group is (B+)....             survives

[1127 rows x 2 columns]

# Saving into excel and jsonl

In [157]:
final_train_dataset.to_excel("exntenal LLM train.xlsx", index= False)