In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("output_second.xlsx")

In [22]:
df2 =  pd.DataFrame(df.isna().sum())

df2.value_counts()

0       85
60      11
1        4
2986     2
4075     1
        ..
2641     1
2648     1
2660     1
2673     1
4215     1
Name: count, Length: 64, dtype: int64

In [14]:
pd.DataFrame(df.isna().sum())

                                0
Outcome_InhospitalMortality    77
Outcome_LOS                     1
Outcome_ICUadmission            0
Outcome_ICULOS                  1
Demographic_Age               150
...                           ...
LAB_INR_First                4035
LAB_PH_Final                 3290
LAB_HCO3_Final               3304
LAB_BE_Final                 3537
LAB_BloodGroupABO_First      2348

[162 rows x 1 columns]

In [24]:
# Find the indices of '1' values in the DataFrame
indices_of_ones = df2[df2[0] == 0].index.tolist()

# Print the list of indices
print(indices_of_ones)

['Outcome_ICUadmission', 'Symptom_Caugh', 'Symptom_Dyspnea', 'Symptom_Fever', 'Symptom_Chiver', 'Symptom_Mylagia', 'Symptom_Weakness', 'Symptom_Sore through', 'Symptom_Rhinorrhea', 'Symptom_Smelling disorder', 'Symptom_nauseaVomit', 'Symptom_Anorexia', 'Symptom_Diarhhea', 'Symptom_ChestPain', 'Symptom_Seizure', 'Symptom_SkinLesion', 'Symptom_Jointpain', 'Symptom_Headache', 'Symptom_AbdominalPain', 'Symptom_Earpain', 'Symptom_Hemorrhasia', 'MH_CurremtSmoker', 'MH_Alcoholuser', 'MH_Opiumuser', 'MH_Hookahuser', 'MH_HTN', 'MH_IHD', 'MH_CABG', 'MH_CHF', 'MH_Ashtma', 'MH_COPD', 'MH_DM', 'MH_Pneumonia', 'MH_CVA', 'MH_GIdisorder', 'MH_CKD', 'MH_RA', 'Cancer', 'MH_HLP', 'MH_Hep C', 'MH_Thyroid dysfunction', 'MH_Immunocompromised', 'MH_ChronicSeizure', 'MH_TB', 'MH_Anemia', 'MH_Fattyliver', 'MH_Psychologicaldisorder', 'MH_Parkinson', 'MH_Alzhimer', 'TM_S_Dialysis', 'TM_S_Wholeblood', 'TM_S_FFP/Platelet', 'TM_S_Intubation', 'TM_S_Plasmapheresis', 'TM_amantadin', 'TM_ASA', 'TM_atazonavir', 'TM_Atrovent', 'TM_Bromhexine', 'TM_CaCo3', 'TM_Ceftriaxone', 'TM_Celexan', 'TM_Ciprofloxacine', 'TM_ClidiniumC', 'TM_Fluconazole', 'TM_Heparin', 'TM_imipenem', 'TM_Linezolid', 'TM_MgSo4', 'TM_NAC', 'TM_piperacillin', 'TM_Plasil', 'TM_Plavix', 'TM_Prednisolone', 'TM_Promethazine', 'TM_Pulmi', 'TM_Ranitidin', 'TM_Remdesivir', 'TM_Salb', 'TM_Selenium', 'TM_Serflow', 'TM_Vanco', 'TM_VitB', 'TM_VitC', 'TM_VitD']

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

data = {
    'a': [1, 1, np.nan, 4, 4, 7, 7, np.nan, np.nan, 1]
}

df = pd.DataFrame(data)

# Create a KNNImputer with k=2 (you can adjust k as needed)
knn_imputer = KNNImputer(n_neighbors=5)

# Fit and transform the DataFrame to impute missing values
imputed_df = knn_imputer.fit_transform(df)

# Convert the imputed result back to a DataFrame
imputed_df = pd.DataFrame(imputed_df, columns=df.columns)

print(imputed_df)

          a
0  1.000000
1  1.000000
2  3.571429
3  4.000000
4  4.000000
5  7.000000
6  7.000000
7  3.571429
8  3.571429
9  1.000000