In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [4]:
data = {
    'A': ['John', 'Alice', 'Bob', 'Eve', 'Mike'],
    'B': [1.5, 2.7, 3.2, 4.0, 5.1],
    'C': [10, 20, 30, 40, 50],
    'D': ['Red', 'Blue', 'Green', nan, 'Purple'],
    'E': [6.2, 7.3, 8.5, 9.6, np.nan],
    'F': [60, 70, np.nan, 90, 100],
    'G': [11, 22, 33, np.nan, 55],
    'H': ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry'],
    'I': [12.1, 13.2, 14.3, 15.4, 16.5],
    'J': [np.nan, 25, 36, 47, 58]
}

df = pd.DataFrame(data)
print(df)

NameError: name 'nan' is not defined

In [3]:
# Create a KNNImputer object
knn_imputer = KNNImputer(n_neighbors=2)

# Select columns to impute
columns_to_impute = ['E', 'F', 'J']

# Impute NaN values using KNN
df[columns_to_impute] = knn_imputer.fit_transform(df[columns_to_impute])

# Display the DataFrame with imputed values
print(df)

       A    B   C       D     E      F     G           H     I     J
0   John  1.5  10     Red  6.20   60.0  11.0       Apple  12.1  30.5
1  Alice  2.7  20    Blue  7.30   70.0  22.0      Banana  13.2  25.0
2    Bob  3.2  30   Green  8.50   75.0  33.0      Cherry  14.3  36.0
3    Eve  4.0  40  Yellow  9.60   90.0   NaN        Date  15.4  47.0
4   Mike  5.1  50  Purple  9.05  100.0  55.0  Elderberry  16.5  58.0

In [5]:
import pandas as pd
import numpy as np
import random
import string
# Create a random 10x10 NumPy array with 0s, 1s, and NaNs
data = np.random.choice([0, 1, np.nan], size=(10, 10), p=[0.4, 0.4, 0.2])

# Create a Pandas DataFrame from the NumPy array
df = pd.DataFrame(data)

# Create a random 10x2 NumPy array with float values and NaNs
data = np.random.rand(10, 2)  # Generates random float values between 0 and 1
data[np.random.choice([True, False], size=(10, 2), p=[0.2, 0.8])] = np.nan  # Set 20% of values to NaN

# Create the Pandas DataFrame
df1 = pd.DataFrame(data, columns=['Column1', 'Column2'])

# Create a function to generate random strings
def random_string(length):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for _ in range(length))

# Create a random 10x2 NumPy array with string values and NaNs
data = np.array([[random_string(5) if random.random() < 0.8 else np.nan for _ in range(2)] for _ in range(10)])

# Create the Pandas DataFrame
df2 = pd.DataFrame(data, columns=['Column1', 'Column2'])

merged_df = pd.concat([df, df1, df2], axis=0, ignore_index=True)

merged_df

      0    1    2    3    4    5    6    7    8    9   Column1   Column2
0   1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0  1.0  1.0       NaN       NaN
1   1.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0       NaN       NaN
2   0.0  1.0  1.0  1.0  1.0  NaN  1.0  1.0  0.0  0.0       NaN       NaN
3   1.0  1.0  0.0  1.0  1.0  0.0  NaN  NaN  NaN  0.0       NaN       NaN
4   NaN  0.0  0.0  1.0  1.0  NaN  0.0  0.0  1.0  1.0       NaN       NaN
5   1.0  1.0  0.0  0.0  1.0  NaN  0.0  1.0  0.0  NaN       NaN       NaN
6   0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  NaN       NaN       NaN
7   1.0  NaN  0.0  1.0  0.0  0.0  1.0  NaN  1.0  0.0       NaN       NaN
8   1.0  0.0  NaN  1.0  1.0  NaN  NaN  NaN  0.0  0.0       NaN       NaN
9   0.0  1.0  1.0  NaN  0.0  1.0  NaN  1.0  0.0  0.0       NaN       NaN
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.141423       NaN
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.334327  0.663914
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.791303    0.7124
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.139904   0.36393
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.061793  0.132825
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.35967  0.949267
16  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.325813  0.220388
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.582144  0.648697
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.677251  0.705589
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.754291  0.390213
20  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     wCUUL     fYkDg
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       nan     XnqfU
22  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       nan     CWlkP
23  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     acxLX     uWJgN
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     TOPsd     SlfjG
25  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     BzOfC     LAFqY
26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     UmgWV     inhfp
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     llCqU     JPapn
28  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     SPxjS     gwaYU
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       nan     BfsVF

In [7]:

from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

# Assuming you have already created df, df1, and df2 as described in your previous code

# Concatenate the DataFrames vertically into merged_df
merged_df = pd.concat([df, df1, df2], axis=0, ignore_index=True)

# Create a label encoder to convert string values to numerical values
label_encoder = LabelEncoder()

# Iterate through columns with string values and encode them
for column in merged_df.select_dtypes(include=['object']):
    merged_df[column] = label_encoder.fit_transform(merged_df[column].astype(str))

# Initialize the KNNImputer
imputer = KNNImputer(n_neighbors=3)  # You can adjust the number of neighbors as needed

# Fit and transform the imputer on the merged DataFrame
imputed_data = imputer.fit_transform(merged_df)

# Create a new DataFrame with imputed values
imputed_df = pd.DataFrame(imputed_data, columns=merged_df.columns)

# Display the DataFrame with imputed values
print(imputed_df)

           0         1         2         3    4         5         6         7  \
0   1.000000  0.000000  1.000000  0.000000  1.0  1.000000  0.000000  1.000000
1   1.000000  0.000000  1.000000  1.000000  1.0  0.000000  0.000000  1.000000
2   0.000000  1.000000  1.000000  1.000000  1.0  0.666667  1.000000  1.000000
3   1.000000  1.000000  0.000000  1.000000  1.0  0.000000  0.666667  0.666667
4   1.000000  0.000000  0.000000  1.000000  1.0  0.333333  0.000000  0.000000
5   1.000000  1.000000  0.000000  0.000000  1.0  0.666667  0.000000  1.000000
6   0.000000  1.000000  0.000000  0.000000  1.0  1.000000  0.000000  0.000000
7   1.000000  0.333333  0.000000  1.000000  0.0  0.000000  1.000000  0.666667
8   1.000000  0.000000  0.666667  1.000000  1.0  0.000000  0.333333  0.666667
9   0.000000  1.000000  1.000000  0.333333  0.0  1.000000  0.333333  1.000000
10  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
11  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
12  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
13  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
14  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
15  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
16  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
17  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
18  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
19  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
20  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
21  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
22  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
23  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
24  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
25  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
26  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
27  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
28  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000
29  0.666667  0.333333  1.000000  0.666667  1.0  0.333333  0.333333  1.000000

           8         9  Column1  Column2
0   1.000000  1.000000     16.0     18.0
1   1.000000  1.000000     16.0     18.0
2   0.000000  0.000000     16.0     18.0
3   0.333333  0.000000     16.0     18.0
4   1.000000  1.000000     16.0     18.0
5   0.000000  0.333333     16.0     18.0
6   0.000000  0.333333     16.0     18.0
7   1.000000  0.000000     16.0     18.0
8   0.000000  0.000000     16.0     18.0
9   0.000000  0.000000     16.0     18.0
10  0.666667  0.666667      2.0     18.0
11  0.666667  0.666667      4.0      5.0
12  0.666667  0.666667      9.0      7.0
13  0.666667  0.666667      1.0      2.0
14  0.666667  0.666667      0.0      0.0
15  0.666667  0.666667      5.0      8.0
16  0.666667  0.666667      3.0      1.0
17  0.666667  0.666667      6.0      4.0
18  0.666667  0.666667      7.0      6.0
19  0.666667  0.666667      8.0      3.0
20  0.666667  0.666667     17.0     15.0
21  0.666667  0.666667     16.0     14.0
22  0.666667  0.666667     16.0     10.0
23  0.666667  0.666667     14.0     19.0
24  0.666667  0.666667     12.0     13.0
25  0.666667  0.666667     10.0     12.0
26  0.666667  0.666667     13.0     17.0
27  0.666667  0.666667     15.0     11.0
28  0.666667  0.666667     11.0     16.0
29  0.666667  0.666667     16.0      9.0

In [8]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Create a random 10x10 NumPy array with 0s, 1s, and NaNs
data = np.random.choice([0, 1, np.nan], size=(10, 10), p=[0.4, 0.4, 0.2])

# Create a Pandas DataFrame from the NumPy array
df = pd.DataFrame(data)

# Initialize the KNNImputer
imputer = KNNImputer(n_neighbors=3)  # You can adjust the number of neighbors as needed

# Fit and transform the imputer on the DataFrame
imputed_data = imputer.fit_transform(df)

# Create a new DataFrame with imputed values
imputed_df = pd.DataFrame(imputed_data, columns=df.columns)

# Round the imputed values to the nearest integer (0 or 1)
imputed_df = imputed_df.round().astype(int)

# Display the DataFrame with imputed values
print(imputed_df)

   0  1  2  3  4  5  6  7  8  9
0  1  1  1  1  0  0  1  0  0  0
1  1  1  0  0  1  0  1  0  1  0
2  0  1  0  0  1  0  0  0  1  0
3  0  0  0  0  1  0  0  0  0  0
4  1  0  0  0  1  0  1  1  1  1
5  1  0  1  0  0  0  1  1  1  0
6  1  0  0  0  1  0  0  0  1  0
7  0  0  1  1  1  0  1  1  0  0
8  0  0  0  1  1  1  1  1  0  0
9  0  1  0  0  0  0  1  0  1  1

In [9]:
import numpy as np

# Original dataset
data = np.array([2.0, 5.0, 10.0, 15.0, 20.0])

# Calculate the minimum and maximum values in the original dataset
min_value = np.min(data)
max_value = np.max(data)

# Normalize the data
normalized_data = (data - min_value) / (max_value - min_value)

# Convert normalized data back to original values
restored_data = normalized_data * (max_value - min_value) + min_value

print("Original Data:")
print(data)
print("\nMin-Max Scaled Data:")
print(normalized_data)
print("\nRestored Data:")
print(restored_data)

Original Data:
[ 2.  5. 10. 15. 20.]

Min-Max Scaled Data:
[0.         0.16666667 0.44444444 0.72222222 1.        ]

Restored Data:
[ 2.  5. 10. 15. 20.]

In [11]:
import pandas as pd
import numpy as np

# Create a random 10x2 NumPy array with float values and NaNs
data = np.random.rand(10, 2)  # Generates random float values between 0 and 1
data[np.random.choice([True, False], size=(10, 2), p=[0.2, 0.8])] = np.nan  # Set 20% of values to NaN

# Create the Pandas DataFrame
df1 = pd.DataFrame(data, columns=['Column1', 'Column2'])


# Create a random 10x10 NumPy array with 0s, 1s, and NaNs
data = np.random.choice([0, 1, np.nan], size=(10, 10), p=[0.4, 0.4, 0.2])

# Create a Pandas DataFrame from the NumPy array
df = pd.DataFrame(data)

dff = df+df1
dff

    0   1   2   3   4   5   6   7   8   9  Column1  Column2
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
5 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
6 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
7 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
8 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN
9 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN      NaN      NaN